<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.migrate.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap.min.js') }}"></script>#}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}"/>
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.min.css') }}"/>#}
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap-theme.min.css') }}"/>#}

</head>
<body>

<style>
    .logo {
        max-height: 50px;
    }

    .alert {
        background-image: none !important;
    }

    h1 a {
        color:black;
    }
</style>

<div class="container">
    <div class="page-header">
        <h1>
            <a href="/">sphirewall setup</a>
            <a href="http://linewize.com">
                <img class="logo pull-right" src="static/images/banner.png"/>
            </a>
        </h1>

    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</div>
</body>
</html>