{% extends "base.html" %}
{% block content %}
    <form role="form" class="form-inline" method="POST">
        <div class="form-group">
            <input style="width:300px;" type="password" class="form-control" name="password" placeholder="Device Password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
    </form>
    <br>
    <h4>Unsure what this is?</h4>
    <div>Your device has a password currently configured. If you have not changed this, it will be <b>admin</b>. For support and assistance contact support.</div>
{% endblock %}
