{% extends "base.html" %}
{% block content %}

<h4>Upgrade your installation</h4>
New versions of Sphirewall are released weekly, its highly recommended that you perform upgrades frequently. If you encounter problems contact the support team.
<hr>
<a href="#" id="upgrade">Start Upgrade Now</a>
<br>
<style>
    #output {
        background-color:whitesmoke;
        width:100%;
        min-height: 50px;
        padding-left:10px;
        padding-top:5px;
        border-left:solid 4px black;

        display: none;
    }
</style>

<div id="output"></div>

<script>
    $(function(){
        $("#upgrade").click(function(){
            $("#output").show();
            $("#output").html("Running upgrade now.....");

            $.getJSON("/ajax/upgrade", function(data){
                $("#output").html(data.output);
            });
        });
    });
</script>
{% endblock %}