/*Tab Buttongs*/
.tab-button-row {
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

a.tab-button {
    border: 1px solid #CDCDCD;
    padding: 7px;
    background-color: white;
    margin-left: 3px;
    border-radius: 2px;
}

a.tab-button-selected {
    font-weight: bold;
}

/*Main Side Navigation Panel*/
.mC {
    width: 100%;
    margin: -5px;
}

.mH {
    cursor: pointer;
    height: 29px;

    color: #666;
    text-decoration: none;
}

.mL {
    display: none;
    margin-bottom: 10px;
    margin-top: 0px;
}

.mO {
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: block;
    padding-left: 30px;
    padding-bottom: 3px;
}

.icon {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 4px;
}

.mO-span {
    display: block;
    font-size: 13px;
    color: #666;
    text-decoration: none
}

.ma {
    font-family: sans-serif, arial;
    color: #444;
    text-decoration: none;
    font-size: 14px;
}

.selectednav {
    border-left: 3px solid red;
}

#menu_inner {
    margin-top: 6px;
    margin-left: 4px;
}

#navigation {
    float: left;
    position: relative;
    height: 100%;
    width: 190px;
    z-index: 100;
    left: 0px;
    border-right: solid 1px whitesmoke;
    background-color:whitesmoke;
    border-right:solid 1px #ddd;
}

#rightbar {
    position: absolute;
    height: 100%;
    width: 143px;
    z-index: 100;
    right: -10px;
    border-left: solid 1px whitesmoke;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0px;
    border: solid 1px #CDCDCD;
    z-index: 3;
    clear: right;
    right: 0px;
    width: 150px;
    margin-top: 2px;
    padding-top: 3px;
}

.operations {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.operations:hover {
    background-color: #dfdfdf;
}

.operations:active {
    position: relative;
    top: 1px;
}

.navigationselected {
    margin-left: 5px;
    border-right: solid 6px green;
    margin-right: 0;
}

.navtitle {
    color: #707070;
    font-size: 12px;
    line-height: normal;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight:bolder;
}

.nav-selected {
    background-color:white;
    border-right:solid 1px white !important;
}

.title-nav-selected {
    border-right:solid 1px white !important;
    background-color:white;
    padding-bottom: 8px;
    padding-top: 6px;
}

.icon {
    margin-top: -1px !important;
}

.navbar-category-link{
   color: #707070 !important;
}