body {
    background-color: white;
    color: #333333;
    margin: 0px;
    padding: 0px;
}

a:link {
    color: #333399;
    text-decoration: none;
}

.logo {
    max-height: 42px;
}

a:visited {
    color: #333399;
    text-decoration: none;
}

body, p, td, th, br, center {
    font-size: 10pt;
    font-family: sans-serif;
}

h1 {
    color: #333333;
    font-size: 150%;
    font-family: sans-serif;
}

#management_content {
    margin-left: 10px;
    margin-right: 10px;
}

#header {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 42px;
    position: relative;
    background-color: #205081;
}

#header h1 {
    color: white;
    position: absolute;
    top: 0px;
    left: 13px;
}

.inner-form-label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 150px;
    font-weight: bolder;
    padding-top: 5px;
}

.validate {
    font-size: 10pt;
    color: #000000;
}

span.filter_title {
    padding-top: 6px;
    float: left;
    margin-top: 0px;
    position: relative;
    margin-left: -13px;
}

hr.barrier {
    border-color: #CDCDCD;
}

.header-branding {
    font-size: 21px;
    top: 7px;
    position: absolute;
    padding-right: 10px;
    color: white;
}

.header-status {
    position: absolute;
    left: 172px;
    width: 100px;
    font-size: 10px;
    padding-top: 4px;
}

.logout {
    position: absolute;
    right: 5px;
    top: 6px;
}

#content-body {
    position: absolute;
    right: 160px;
    left: 10px;
}

#content-nav {
    right: 0px;
    position: absolute;
    width: 150px;
}

.notopborder {
    border-top: none !important;
}

.abody {
    width: 100%;
    padding-left: 10px;
}

.aheading {
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin-right: 0px;
    margin-bottom: 12px;
}

.aheading span {
    display: inline-block;
    position: relative;
    top: 9px;
    background: #fff;
    padding: 0 9px;
    font-weight: bolder;
}

.half {
    width: 49%;
    display: inline-block;
}

span.link {
    padding: 5px;
    padding-left: 10px;
}

span.link a {
    margin-right: 4px;
    margin-top: 4px;
}

span.link i {
    top: -2px;
    position: relative;
}

.link > a {
    font-size: 12px;
    color: white;
}

hr {
    border: none;
    height: 1px;
    color: whitesmoke;
    background-color: whitesmoke;
}

.listdiv {
    background-color: whitesmoke;
    border-radius: 3px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

.newdatatable {
    width: 99%;
    border-collapse: collapse;
}

.newdatatable th {
    padding: 8px;
    text-align: left;
    color: black;
    font-size: 12;
    font-weight: bolder;
    background-color: #E8E8E8;
    border-top: solid 1px #ccc;

}

.newdatatable td {
    border: solid 1px #cccccc;
    padding: 5px;
}

.small-pill {
    width: 28%;
    display: inline-block;
    padding: 10px;
    border: solid 1px rgba(233, 215, 215, 0.5);
    margin: -1px 1.5% -1px 1.5%;
}

.pill {
    display: inline-table;
    padding: 16px;
    background-color: whitesmoke;
}

.pill .title {
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #333333;
}

.pill .value {
    display: block;
    font-size: 14px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: gray;
}

.devicename {
    font-size: 16px;

}

.operationstitle {
    font-weight: bolder;
    color: gray;
}

.pill-title {
    text-align: center;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.pill-metric {
    text-align: center;
    font-size: 18px;
}

#dateselector {
    float: right;
    padding-top: 3px;
}

.rightbuttons {
    float: right;
    position: absolute;
    right: 0px;
    top: 8px;
}

.aformcontent input[type="checkbox"]{
    margin-top: 6px;
}

.aformcontent-text {
    top:4px;
    display: inline;
    left: 8px;
    position: relative;
}