/*
 * File:        TableTools.css
 * Description: Styles for TableTools 2
 * Author:      Allan Jardine (www.sprymedia.co.uk)
 * Language:    Javascript
 * License:     GPL v2 / 3 point BSD
 * Project:     DataTables
 * 
 * Copyright 2009-2012 Allan Jardine, all rights reserved.
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * CSS name space:
 *   DTTT                  DataTables TableTools
 *
 * Style sheet provides:
 *   CONTAINER             TableTools container element and styles applying to all components
 *   BUTTON_STYLES         Action specific button styles
 *   SELECTING             Row selection styles
 *   COLLECTIONS           Drop down list (collection) styles
 *   PRINTING              Print display styles
 */

/*
* CONTAINER
* TableTools container element and styles applying to all components
*/
div.DTTT_container {
    position: relative;
    float: right;
    margin-bottom: 1em;
    top: 14;
}

button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
    position: relative;
    float: left;
    margin-right: 3px;
    padding: 5px 8px;
    cursor: pointer;
    *cursor: hand;
    font-size: 0.88em;
    color: #333399 !important;
    /*font-weight: bold;*/

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

/* Buttons are cunning border-box sizing - we can't just use that for A and DIV due to IE6/7 */
button.DTTT_button {
    height: 30px;
    padding: 3px 8px;
}

a.DTTT_button_csv:hover span, a.DTTT_button_xls:hover span, a.DTTT_button_pdf:hover span {
    background-color: #4E6CA3;
    color: white;
}

a.DTTT_button_csv:hover, a.DTTT_button_xls:hover, a.DTTT_button_pdf:hover {
    background-color: #4E6CA3;
}

.DTTT_button embed {
    outline: none;
}

div.DTTT_collection {
    width: 150px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 2002;
}

div.DTTT_collection button.DTTT_button,
div.DTTT_collection div.DTTT_button,
div.DTTT_collection a.DTTT_button {
    position: relative;
    left: 0;
    right: 0;
    display: block;
    float: none;
    margin-bottom: 4px;
}

