/*Tables and Input/Display Areas*/
/*General Table*/
.general-title {
}

/*List Table*/
table.list {
    width: 99%;
    border-collapse: collapse;
}

table.list td {
    padding: 4px;
}

table.list th {
    padding: 8px;
    text-align: left;
    color: black;
    font-size: 12;
    font-weight: bolder;
    background-color: #E8E8E8;
    border-top: solid 1px #ccc;
}

table.list h1 {
    font-family: sans-serif;
    font-size: 13px;
    color: black;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 0px;
}

table.list h2 {
    font-size: 10pt;
    font-family: sans-serif;
    margin-bottom: 0px;
    font-weight: normal;
}

/*End of List Table*/
/*End of Input/Display Areas*/
a.paginate_enabled_next {
    position: absolute;
    right: 0px;
}

a.paginate_disabled_next {
    position: absolute;
    right: 0px;
}

.odd-even tr.odd td {
    background-color:white;
}

.odd-even tr.even td {
    background-color:whitesmoke;
}

.border tr td {
    border:solid 1px #cccccc;
}

.border tr th{
    border:solid 1px #cccccc;
}

.darkbackground{
    background-color:#E8E8E8;
}