<option>Anonymous Proxy</option>
<option>Satellite Provider</option>
<option>Other Country</option>
<option>Andorra</option>
<option>United Arab Emirates</option>
<option>Afghanistan</option>
<option>Antigua and Barbuda</option>
<option>Anguilla</option>
<option>Albania</option>
<option>Armenia</option>
<option>Angola</option>
<option>Asia/Pacific Region</option>
<option>Antarctica</option>
<option>Argentina</option>
<option>American Samoa</option>
<option>Austria</option>
<option>Australia</option>
<option>Aruba</option>
<option>Aland Islands</option>
<option>Azerbaijan</option>
<option>Bosnia and Herzegovina</option>
<option>Barbados</option>
<option>Bangladesh</option>
<option>Belgium</option>
<option>Burkina Faso</option>
<option>Bulgaria</option>
<option>Bahrain</option>
<option>Burundi</option>
<option>Benin</option>
<option>Saint Bartelemey</option>
<option>Bermuda</option>
<option>Brunei Darussalam</option>
<option>Bolivia</option>
<option>Bonaire, Saint Eustatius and Saba</option>
<option>Brazil</option>
<option>Bahamas</option>
<option>Bhutan</option>
<option>Bouvet Island</option>
<option>Botswana</option>
<option>Belarus</option>
<option>Belize</option>
<option>Canada</option>
<option>Cocos (Keeling) Islands</option>
<option>Congo, The Democratic Republic of the</option>
<option>Central African Republic</option>
<option>Congo</option>
<option>Switzerland</option>
<option>Cote d'Ivoire</option>
<option>Cook Islands</option>
<option>Chile</option>
<option>Cameroon</option>
<option>China</option>
<option>Colombia</option>
<option>Costa Rica</option>
<option>Cuba</option>
<option>Cape Verde</option>
<option>Curacao</option>
<option>Christmas Island</option>
<option>Cyprus</option>
<option>Czech Republic</option>
<option>Germany</option>
<option>Djibouti</option>
<option>Denmark</option>
<option>Dominica</option>
<option>Dominican Republic</option>
<option>Algeria</option>
<option>Ecuador</option>
<option>Estonia</option>
<option>Egypt</option>
<option>Western Sahara</option>
<option>Eritrea</option>
<option>Spain</option>
<option>Ethiopia</option>
<option>Europe</option>
<option>Finland</option>
<option>Fiji</option>
<option>Falkland Islands (Malvinas)</option>
<option>Micronesia, Federated States of</option>
<option>Faroe Islands</option>
<option>France</option>
<option>Gabon</option>
<option>United Kingdom</option>
<option>Grenada</option>
<option>Georgia</option>
<option>French Guiana</option>
<option>Guernsey</option>
<option>Ghana</option>
<option>Gibraltar</option>
<option>Greenland</option>
<option>Gambia</option>
<option>Guinea</option>
<option>Guadeloupe</option>
<option>Equatorial Guinea</option>
<option>Greece</option>
<option>South Georgia and the South Sandwich Islands</option>
<option>Guatemala</option>
<option>Guam</option>
<option>Guinea-Bissau</option>
<option>Guyana</option>
<option>Hong Kong</option>
<option>Heard Island and McDonald Islands</option>
<option>Honduras</option>
<option>Croatia</option>
<option>Haiti</option>
<option>Hungary</option>
<option>Indonesia</option>
<option>Ireland</option>
<option>Israel</option>
<option>Isle of Man</option>
<option>India</option>
<option>British Indian Ocean Territory</option>
<option>Iraq</option>
<option>Iran, Islamic Republic of</option>
<option>Iceland</option>
<option>Italy</option>
<option>Jersey</option>
<option>Jamaica</option>
<option>Jordan</option>
<option>Japan</option>
<option>Kenya</option>
<option>Kyrgyzstan</option>
<option>Cambodia</option>
<option>Kiribati</option>
<option>Comoros</option>
<option>Saint Kitts and Nevis</option>
<option>Korea, Democratic People's Republic of</option>
<option>Korea, Republic of</option>
<option>Kuwait</option>
<option>Cayman Islands</option>
<option>Kazakhstan</option>
<option>Lao People's Democratic Republic</option>
<option>Lebanon</option>
<option>Saint Lucia</option>
<option>Liechtenstein</option>
<option>Sri Lanka</option>
<option>Liberia</option>
<option>Lesotho</option>
<option>Lithuania</option>
<option>Luxembourg</option>
<option>Latvia</option>
<option>Libyan Arab Jamahiriya</option>
<option>Morocco</option>
<option>Monaco</option>
<option>Moldova, Republic of</option>
<option>Montenegro</option>
<option>Saint Martin</option>
<option>Madagascar</option>
<option>Marshall Islands</option>
<option>Macedonia</option>
<option>Mali</option>
<option>Myanmar</option>
<option>Mongolia</option>
<option>Macao</option>
<option>Northern Mariana Islands</option>
<option>Martinique</option>
<option>Mauritania</option>
<option>Montserrat</option>
<option>Malta</option>
<option>Mauritius</option>
<option>Maldives</option>
<option>Malawi</option>
<option>Mexico</option>
<option>Malaysia</option>
<option>Mozambique</option>
<option>Namibia</option>
<option>New Caledonia</option>
<option>Niger</option>
<option>Norfolk Island</option>
<option>Nigeria</option>
<option>Nicaragua</option>
<option>Netherlands</option>
<option>Norway</option>
<option>Nepal</option>
<option>Nauru</option>
<option>Niue</option>
<option>New Zealand</option>
<option>Oman</option>
<option>Panama</option>
<option>Peru</option>
<option>French Polynesia</option>
<option>Papua New Guinea</option>
<option>Philippines</option>
<option>Pakistan</option>
<option>Poland</option>
<option>Saint Pierre and Miquelon</option>
<option>Pitcairn</option>
<option>Puerto Rico</option>
<option>Palestinian Territory</option>
<option>Portugal</option>
<option>Palau</option>
<option>Paraguay</option>
<option>Qatar</option>
<option>Reunion</option>
<option>Romania</option>
<option>Serbia</option>
<option>Russian Federation</option>
<option>Rwanda</option>
<option>Saudi Arabia</option>
<option>Solomon Islands</option>
<option>Seychelles</option>
<option>Sudan</option>
<option>Sweden</option>
<option>Singapore</option>
<option>Saint Helena</option>
<option>Slovenia</option>
<option>Svalbard and Jan Mayen</option>
<option>Slovakia</option>
<option>Sierra Leone</option>
<option>San Marino</option>
<option>Senegal</option>
<option>Somalia</option>
<option>Suriname</option>
<option>South Sudan</option>
<option>Sao Tome and Principe</option>
<option>El Salvador</option>
<option>Sint Maarten</option>
<option>Syrian Arab Republic</option>
<option>Swaziland</option>
<option>Turks and Caicos Islands</option>
<option>Chad</option>
<option>French Southern Territories</option>
<option>Togo</option>
<option>Thailand</option>
<option>Tajikistan</option>
<option>Tokelau</option>
<option>Timor-Leste</option>
<option>Turkmenistan</option>
<option>Tunisia</option>
<option>Tonga</option>
<option>Turkey</option>
<option>Trinidad and Tobago</option>
<option>Tuvalu</option>
<option>Taiwan</option>
<option>Tanzania, United Republic of</option>
<option>Ukraine</option>
<option>Uganda</option>
<option>United States Minor Outlying Islands</option>
<option>United States</option>
<option>Uruguay</option>
<option>Uzbekistan</option>
<option>Holy See (Vatican City State)</option>
<option>Saint Vincent and the Grenadines</option>
<option>Venezuela</option>
<option>Virgin Islands, British</option>
<option>Virgin Islands, U.S.</option>
<option>Vietnam</option>
<option>Vanuatu</option>
<option>Wallis and Futuna</option>
<option>Samoa</option>
<option>Yemen</option>
<option>Mayotte</option>
<option>South Africa</option>
<option>Zambia</option>
<option>Zimbabwe</option>
