{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");
            window.setupDatatables();
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="#" class="last">Rate Limiting Qos</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage firewall rules in the system
        </div>
        <di class="rightbuttons">
            {% if not enabled %}
                <a class="btn" href="/device/firewall/qos/enable">Enable QOS</a>
            {% endif %}

            {% if enabled %}
                <a class="btn" href="/device/firewall/acls/qos/add">Create QOS Rule</a>
                <a class="btn" href="/device/firewall/qos/disable">Disable QOS</a>
            {% endif %}

        </di>
    </div>

    <div id="qos">
        {% if not enabled %}
            <div class="alert">
            <span class="message"><b>Warning:</b> Qos is currently disabled, click <a
                    href="/device/firewall/qos/enable">here</a> to enable it.</span>
            </div>
        {% endif %}

        {% if enabled %}
            <div class="aheading">
                <span>Traffic Shaping Rules</span>
            </div>
            <br>

            <div class="abody">
                <table class="list paddingtop noresultstable border">
                    <thead>
                    <th>Name</th>
                    <th>Criteria</th>
                    <th>Transfer Rate</th>
                    <th>Operations</th>
                    </thead>
                    <tbody>
                    {% for rule in qos %}
                        <tr>
                            <td>
                                {{ rule.name }}
                            </td>
                            <td>
                                {{ rule.string }}
                            </td>
                            <td class="darkbackground">
                                Upload: {{ rule.upload | safe }}B/s Download: {{ rule.download | safe }}B/s
                            </td>
                            <td class="darkbackground">
                                <a href="/device/firewall/acls/qos/add/{{ rule.id }}">Edit</a>
                                <a href="/device/firewall/acls/qos/{{ rule.id }}/delete">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
{% endblock %}