{% extends "device_layout.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("configuration");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/general">Configuration</a></li>
                <li><a href="#" class="last">Advanced Configuration</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Adjust general configuration options
        </div>
        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save</a>
        </div>
    </div>
    <div class="alert">
        <span class="message"><b>Warning:</b> Changes these values could have a dramatic effect on the performance of your network</span>
    </div>

    <style>
        .aformcontent {
            left: 235px !important;
        }
    </style>
    <div class="aheading">
        <span>Advanced runtime settings</span>
    </div>
    <br>

    <div class="abody">

        <div class="block">
            <script>
                $(document).ready(function () {
                    $("#form").validate({
                        errorPlacement: function (error, element) {
                            error.appendTo(element.parent("div"));
                        },

                        wrapper: "li",
                        submitHandler: function () {
                            form.submit();
                        },

                        rules: {
                        },

                        messages: {
                        }
                    });
                });
            </script>

            <form id="form" class="form-horizontal" method=POST>
                {% for i in vars %}
                    <div class="aformgroup">
                    <span class="aformlabel">
            <label class='control-label'>{{ i.key }}</label>
                    </span>

                        <div class="aformcontent">
                            <input class='validate number' name='{{ i.key }}' type='text' value='{{ i.value }}'/>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}