{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("network");
    })
</script>


<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/network/devices">Network</a></li>
            <li><a href="#" class="last">Vpn Servers</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage vpn servers and gateway connections.
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#form1").validate({
            wrapper:"li",
            submitHandler:function(){
                form1.submit();
            },
            rules:{
                name:{required:true,nowhitespace:true}
            },

            messages:{
            }
        });
    });
</script>

<div>
    <div class="aheading">
        <span>Vpn server instances</span>
    </div>
    <br>

    <div class="abody">
        <form id="form1" name="form1" method=POST>
            <table id="users" class="list border">
                <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for vpn in vpns %}
                <tr>
                    <td><a href="/device/network/vpn/{{vpn.name}}">{{vpn.name}}</a></td>
                    <td>
                        {% if vpn.type == 1 %} Openvpn Server - With Static Keys {% endif %}
                        {% if vpn.type == 2 %} IPSec Gateway - Gateway {% endif %}
                        {% if vpn.type == 3 %} Openvpn Server - With TLS {% endif %}
                    </td>
                    <td>
                        {% if vpn.status == 0 %} ESTABLISHED {% endif %}
                        {% if vpn.status == 1 %} ESTABLISHING {% endif %}
                        {% if vpn.status == -1 %} OFFLINE {% endif %}
                    </td>

                    <td>
                        <a href="/device/network/vpn/{{vpn.name}}/delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <td valign="top">
                        <input placeholder="Name" id="name" type="text" name="name" class="validate">
                    </td>
                    <td>
                        <select id="type" name="type">
                            <option value="ipsec_gateway_to_gateway">IPSec Gateway to Gateway</option>
                            <option value="static">Openvpn Static Key</option>
                            <option value="tls">Openvpn TLS Keys</option>
                        </select>
                    </td>
                    <td>-</td>
                    <td><input type=submit id="submit" value="Save and Install"></td>
                </tfoot>
            </table>
        </form>
    </div>
</div>

{%endblock %}