{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configuration");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/events">Configuration</a></li>
                <li><a href="#" class="last">Authentication</a></li>
                <li><a href="#" class="last">Network Based Timeouts</a></li>
                <li><a href="#" class="last">Editing</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Adjust authentication timeouts based on network range
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#networks").val([
                {% for network in timeout.networks %}
                    "{{network.id}}",
                {%endfor %}
            ]);

            $(".chosen-select").chosen();
        });
    </script>

    <form id='form' method=POST>
        <div class="aheading">
            <span>Modify Timeout</span>
        </div>
        <div class="abody">
        </div>

        <div class="aformgroup">
            <span class="aformlabel">Timeout:</span>

            <div class="aformcontent">
                <input type="text" name="timeout" value="{{ timeout.timeout }}">
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
                Networks:
            </span>

            <div class="aformcontent">
                <select name="networks" id="networks" class="chosen-select" multiple>
                    {% for alias in networks %}
                        <option value="{{ alias.id }}">{{ alias.name }}</option>
                    {% endfor %}
                </select>

            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
            </span>

            <div class="aformcontent">
                <input id="save" type="submit" value="Save Options"/>
            </div>
        </div>
    </form>
{% endblock %}