{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("users");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Groups and Roles</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage groups and roles.
    </div>
</div>

<div class="aheading">
    <span>Groups and roles</span>
</div>
<div class="abody">
    <br>
    <script>
        $(document).ready(function(){
            $("#form").validate({
                errorPlacement:function(error,element){
                    error.appendTo(element.parent("td"));
                },

                wrapper:"li",
                submitHandler:function(){
                    form.submit();
                },
            });
        });
    </script>
    <form id="form" method='POST'>
        <table id="users" class="list border filtered export paging">
            <thead>
            <th>Name</th>
            <th>Manager</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for group in groups %}
            <tr>
                <td><a href="/device/configuration/groups/{{group.id}}">{{group.name}}</a></td>
                <td>{{group.manager}}</td>
                <td><a href="/device/configuration/groups/delete/{{group.id}}">Delete</a></td>
            </tr>
            {% endfor %}
            <tfoot>
                <td><input class="validate nowhitespace" name='name' class='validate' size='30' placeholder='Name'/></td>
                <td></td>
                <td><input id='submit' type='submit' value="Create Group"></td>
            </tfoot>
            </tbody>
        </table>
    </form>
</div>

<script>
    $(function(){
        window.setupDatatables();
    });
</script>
{%endblock %}