{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <script>
        $(function () {
            $("#sourceDevice").val("{{rule.sourceDevice}}");
        });
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="/device/firewall/forwarding">Forwarding Rules</a></li>
                <li><a href="#" class="last">Add Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Create or edit a forwarding rule
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save Rule</a>
        </div>
    </div>

    <form id="form" method=POST>
        <div class="aheading" data-for="sourceInfo">
            <span>Criteria</span>
        </div>

        {% include "device_standard_criteria.html" %}

        <script>
            $(function () {
                $("#sourceInterfaceCriteria").show();
                $("#sourceInterfaceCriteriaEnabled").prop('checked', true);

                $("#destPortCriteria").show();
                $("#destPortCriteriaEnabled").prop('checked', true);
            });
        </script>


        <div class="aheading" data-for="sourceInfo">
            <span>Action</span>
        </div>

        <div class="aformgroup">
        <span class="aformlabel">
        Forward to
        </span>

            <div class="aformcontent">
                <input title="Destination Ip" name="forwardingDestination" value='{{ rule.forwardingDestination }}'
                       class='validate' placeholder="Forward IP"/>
                <input title="Single port" name="forwardingDestinationPort" size=5
                       value='{{ rule.forwardingDestinationPort }}' class='validate' placeholder="Port"/>

            </div>
        </div>
    <hr>
    </form>
{% endblock %}