{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("firewall");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Filtering Rules</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage firewall rules in the system
    </div>

    <div class="rightbuttons">
        <a class="btn" href="/device/firewall/acls/normal/add?mode=filtering" class="btn"><i class="icon-plus"></i> Create a rule</a>
    </div>
</div>

<div id="acls">
<div class="aheading">
    <span>Filtering</span>
</div>
<br>

<div class="abody">
    <table class="list noresultstable paddingtop border">
        <thead>
        <th></th>
        <th>Name</th>
        <th>Criteria</th>
        <th>Action</th>
        <th>Operations</th>
        </thead>
        <tbody>
        {% for rule in filter %}
        <tr>
            <td>
                <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/acls/toggle/{{rule.id}}?caller=/firewall/filtering'>
                    <input type=checkbox value=on name=enabled {% if rule.enabled %} CHECKED {% endif %} onchange='submit();'/>
                </form>
            </td>
            <td>{{rule.comment}}</td>
            <td>
                {{ rule.string }}
            </td>
            <td class="darkbackground">
                {% if rule.action == 0 %} <font color=red><b>deny</b></font> {% endif %}
                {% if rule.action == 1 %} <font color=green><b>allow</b></font> {%endif %} 
                {% if rule.startHour %} between {{rule.startHour}} and {{rule.finishHour}} o'clock {% endif %} 
                {% if rule.log %} and <b>log</b> {% endif %} 
                {% if rule.ignoreconntrack %} and <b>dont track</b> {%endif %}
            </td>
            <td class="darkbackground">
                <a href="/device/firewall/acls/normal/add/{{rule.id}}?mode=filtering">Edit</a>
                <a href="/device/firewall/acls/up/{{rule.id}}">Up</a>
                <a href="/device/firewall/acls/down/{{rule.id}}">Down</a>
                <a href="/device/firewall/acls/delete/{{rule.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
