{% extends "header.html" %}
{% block body %}
    <div id="navigation">
        <br>
        <style>
            .navcontent {
                display:none;
            }
        </style>

        <script>
            $(function(){
                window.setTab = function(id){
                    // Toggle the current tab off
                    $(".navcontent").hide();
                    $(".navcontent").removeClass("nav-selected");
                    $(".navtitle").removeClass("title-nav-selected");

                    var target = $("#" + id).attr("data-item");
                    $("#" + target).addClass("nav-selected");
                    $("#" + id).addClass("title-nav-selected");
                    $("#" + target).show();
                }
            });

        </script>

        <div data-item="status-nav" id="status" class="navtitle"><i class="icon icon-heart"></i> <a class="navbar-category-link" href="/device">Status</a></div>
        <div class="navcontent" id="status-nav">
            <a class="mO" href="/device">Dashboard</a>
            <a class="mO" href="/device/status/users">Active Users</a>
            <a class="mO" href="/device/status/hosts">Active Hosts</a>
            <a class="mO" href="/device/status/connections">Connections</a>
            <a class="mO" href="/device/status/metrics">Performance</a>
            <br>
            <a class="mO" href="/device/status/events">Events and Alerts</a>
            <a class="mO" href="/device/status/logs">System Logs</a>
        </div>
        <br>

        <div id="configuration" data-item="configuration-nav" class="navtitle"><i class="icon icon-cog"></i>
            <a class="navbar-category-link" href="/device/configuration/general">Configuration</a>
        </div>
        <div class="navcontent" id="configuration-nav">

            <a class="mO" href="/device/configuration/snapshots">Snapshots</a>
            <a class="mO" href="/device/configuration/general">General Options</a>
            <a class="mO" href="/device/configuration/watchdog">Watchdog</a>
            <a class="mO" href="/device/configuration/events">Event Handling</a>
            <a class="mO" href="/device/configuration/advanced" id="general-advanced">Advanced Config</a>
            <br>
            <a class="mO" href="/device/configuration/authentication">Captive Portal</a>
            <a class="mO" href="/device/configuration/quotas">Global Quotas</a>
        </div>
        <br>

        <div id="users" data-item="users-nav" class="navtitle"><i class="icon icon-user"></i>
            <a class="navbar-category-link" href="/device/configuration/users">Users and Groups</a>
            </div>
        <div class="navcontent" id="users-nav">
            <a class="mO" href="/device/configuration/users">Users and People</a>
            <a class="mO" href="/device/configuration/groups">Groups and Roles</a>
            <a class="mO" href="/device/configuration/sessions">Persisted Sessions</a>
        </div>
        <br>

        <div id="firewall" data-item="firewall-nav" class="navtitle"><i class="icon icon-stop"></i>
            <a class="navbar-category-link" href="/device/firewall/webfilter">Firewall</a>
        </div>
        <div class="navcontent" id="firewall-nav">
            <a class="mO" href="/device/firewall/filtering">Filtering</a>
            <a class="mO" href="/device/firewall/forwarding">Forwarding</a>
            <a class="mO" href="/device/firewall/masquerading">Wan Interfaces</a>
            <a class="mO" href="/device/firewall/masquerading/advanced">Advanced SNat</a>
            <a class="mO" href="/device/firewall/qos">Rate Limiting Qos</a>
            <a class="mO" href="/device/firewall/priority">Priority Qos</a>
            <a class="mO" href="/device/firewall/webfilter">L7 Filter</a>
            <br>
            <a class="mO" href="/device/firewall/aliases">Pools</a>
            <a class="mO" href="/device/firewall/periods">Periods</a>
            <a class="mO" href="/device/firewall/signatures">Signatures</a>
        </div>
        <br>
        <div id="network" data-item="network-nav" class="navtitle"><i class="icon icon-signal"></i>
            <a class="navbar-category-link" href="/device/network/devices">Networking</a>
        </div>
        <div class="navcontent" id="network-nav">
            <a class="mO" href="/device/network/devices">Devices</a>
            <a class="mO" href="/device/network/connections">Connections</a>
            <a class="mO" href="/device/network/wireless">Wireless</a>
            <br>
            <a class="mO" href="/device/network/dns">Dns Forwarder</a>
            <a class="mO" href="/device/network/vpn">Vpn Servers</a>
            <a class="mO" href="/device/network/dyndns">Global Dyndns</a>
        </div>
        <br>
        <div id="reporting" data-item="reporting-nav" class="navtitle"><i class="icon icon-map-marker"></i>
            <a class="navbar-category-link" href="/device/status/reporting">Reporting</a>
        </div>
        <div class="navcontent" id="reporting-nav">
            <a class="mO" href="/device/status/reporting">Summary</a>
            <a class="mO" href="/device/status/reporting/address">Hosts</a>
            <a class="mO" href="/device/status/reporting/users">Users</a>
            <a class="mO" href="/device/status/reporting/websites">Websites</a>
            <a class="mO" href="/device/status/reporting/types">Applications</a>
        </div>
        <br>
        <div id="tools" data-item="tools-nav" class="navtitle"><i class="icon icon-wrench"></i>
            <a class="navbar-category-link" href="/device/tools/ping">Tools</a>
        </div>
        <div class="navcontent" id="tools-nav">
            <a class="mO" href="/device/status/reporting">Live Ping</a>
        </div>
        <br>

    </div>
    <div id="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}