{% extends "device_layout.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("network");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Network</a></li>
                <li><a href="/device/network/vpn">Vpn Servers</a></li>
                <li><a href="#" class="last">Manage Server: {{ vpn.name }} </a></li>
            </ul>
        </div>
        <div id="banner-description">
            Setup and configure your ipsec gateway
        </div>
        <div class="rightbuttons">
            <a class="btn" href="#" id="save-button">Save Configuration</a>
            {% if vpn.status == 0 or vpn.status == 1 %}
                <a class="btn" href='/device/network/vpn/{{ vpn.name | safe }}/stop' id="stop_connection">Stop Connection</a>
            {% endif %}
            {% if vpn.status == -1 %}
                <a class="btn" href='/device/network/vpn/{{ vpn.name | safe }}/start' id="start_connection">Start Connection</a>
            {% endif %}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value.indexOf(" ") < 0 && value != "";
            }, "Space are not allowed");

            $("#form").validate({
                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },
                rules: {
                    clientname: {required: true, noSpace: true},
                },

                messages: {
                    clientname: "Client name cannot include spaces",
                }
            });

            var process_mode = function () {
                if ($("#mode").val() == "manual") {
                    $("#auto_settings").hide();
                    $("#manual_settings").show();
                } else if ($("#mode").val() == "automatic") {
                    $("#auto_settings").show();
                    $("#manual_settings").hide();
                } else {
                    $("#auto_settings").hide();
                    $("#manual_settings").hide();
                }
            };

            $("#mode").change(function () {
                process_mode();
            });

            $("#mode").val("{{ vpn.meta.cloud_type }}");
            process_mode();

            $("#local_lan_device").val("{{ vpn.meta.local_lan_device }}");
            $("#local_wan_device").val("{{ vpn.meta.local_wan_device }}");
            $("#remote_lan_device").val("{{ vpn.meta.remote_lan_device }}");
            $("#remote_wan_device").val("{{ vpn.meta.remote_wan_device }}");

            var setup_remotedevice_selector = function () {
                var devices = [];
                $.getJSON("/device/vpn/deviceinformation", function (data) {
                    devices = data.result;
                    for (var i = 0; i < devices.length; i++) {
                        $("#remotedeviceid").append("<option value='" + devices[i].deviceid + "'>" + devices[i].deviceid + "</option>");
                    }

                    $("#remotedeviceid").val("{{ vpn.meta.remote_deviceid }}");
                    load_remote_fields();
                });

                var load_remote_fields = function () {
                    $("#remote_wan_device").empty();
                    $("#remote_lan_device").empty();

                    var target_device = undefined;
                    for (var i = 0; i < devices.length; i++) {
                        if (devices[i].deviceid == $("#remotedeviceid").val()) {
                            target_device = devices[i];
                        }
                    }

                    if (target_device != undefined) {
                        for (var x = 0; x < target_device.interfaces.length; x++) {
                            var option = "<option value='" +
                                    target_device.interfaces[x].interface + "'>"
                                    + target_device.interfaces[x].interface + " - " + target_device.interfaces[x].ip + "/" + target_device.interfaces[x].mask
                                    + "</option>";

                            $("#remote_wan_device").append(option);
                            $("#remote_lan_device").append(option);
                        }
                    }

                    $("#remote_lan_device").val("{{ vpn.meta.remote_lan_device }}");
                    $("#remote_wan_device").val("{{ vpn.meta.remote_wan_device }}");

                };

                $("#remotedeviceid").change(function () {
                    load_remote_fields();
                });
            };

            setup_remotedevice_selector();
        });
    </script>

    <div id="openvpn">
        <div id="settings">
            <form id=form1 method="POST">
                <div class="aheading">
                    <span>General Server Options</span>
                </div>

                <div class="abody">
                    <div class="aformgroup">
                        <span class="aformlabel">Type:</span>

                        <div class="aformcontent">
                            <select disabled>
                                <option>IPSec Gateway to Gateway</option>
                            </select>
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Mode:</span>

                        <div class="aformcontent">
                            <select name="mode" id="mode">
                                <option value="automatic">Automatic</option>
                                <option value="manual">Manual</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div id="auto_settings">

                    <div class="aheading">
                        <span>Automatic VPN</span>
                    </div>

                    <div class="abody">

                        <div class="aformgroup">
                            <span class="aformlabel">Wan Interface:</span>

                            <div class="aformcontent">
                                <select id="local_wan_device" name="local_wan_device">
                                    {% for device in local_devices %}
                                        <option value="{{ device.interface }}">{{ device.interface }} {% if device.name %}- {{ device.name }}{% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="aformgroup">
                            <span class="aformlabel">Shared Interface:</span>

                            <div class="aformcontent">
                                <select id="local_lan_device" name="local_lan_device">
                                    {% for device in local_devices %}
                                        <option value="{{ device.interface }}">{{ device.interface }} {% if device.name %}- {{ device.name }}{% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="aformgroup">
                            <span class="aformlabel">Remote Device:</span>

                            <div class="aformcontent">
                                <select name="remotedeviceid" id="remotedeviceid"></select>
                            </div>
                        </div>

                        <div class="aformgroup">
                            <span class="aformlabel">Wan Interface:</span>

                            <div class="aformcontent">
                                <select name="remote_wan_device" id="remote_wan_device">
                                </select>
                            </div>
                        </div>

                        <div class="aformgroup">
                            <span class="aformlabel">Shared Interface:</span>

                            <div class="aformcontent">
                                <select name="remote_lan_device" id="remote_lan_device">
                                </select>
                            </div>
                        </div>

                    </div>
                </div>


                <div id="manual_settings">

                    <div class="aheading">
                        <span>Local Endpoint Configuration</span>
                    </div>

                    <div class="abody">

                        <div class="aformgroup">
                            <span class="aformlabel">Automatically Start:</span>

                            <div class="aformcontent">
                                <input type="checkbox" name="auto_start" {% if vpn.auto_start %} CHECKED {% endif %}/>
                            </div>
                        </div>
                        <div class="aformgroup">
                            <span class="aformlabel">Authentication:</span>

                            <div class="aformcontent">
                                <select name="auth_mode" id="auth_mode">
                                    <option value="1" SELECTED>Preshared Key</option>
                                </select>

                                <input type="text" name="secret_key" value="{{ vpn.secret_key }}"/>
                            </div>
                        </div>

                        <div class="aformgroup">
                            <span class="aformlabel">Local Address:</span>

                            <div class="aformcontent">
                                <input type="text" name="local_host" value="{{ vpn.local_host }}"/>
                            </div>
                        </div>
                        <div class="aformgroup">
                            <span class="aformlabel">Local Subnet:</span>

                            <div class="aformcontent">
                                <input type="text" name="local_subnet" value="{{ vpn.local_subnet }}"/>
                            </div>
                        </div>
                        <div class="aformgroup">
                            <span class="aformlabel">Local Id:</span>

                            <div class="aformcontent">
                                <input type="text" name="local_id" value="{{ vpn.local_id }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="aheading">
                        <span>Remote Endpoint Configuration</span>
                    </div>
                    <div class="abody">

                        <div class="aformgroup">
                            <span class="aformlabel">Remote Address:</span>

                            <div class="aformcontent">
                                <input type="text" name="remote_host" value="{{ vpn.remote_host }}"/>
                            </div>
                        </div>
                        <div class="aformgroup">
                            <span class="aformlabel">Remote Subnet:</span>

                            <div class="aformcontent">
                                <input type="text" name="remote_subnet" value="{{ vpn.remote_subnet }}"/>
                            </div>
                        </div>
                        <div class="aformgroup">
                            <span class="aformlabel">Remote Id:</span>

                            <div class="aformcontent">
                                <input type="text" name="remote_id" value="{{ vpn.remote_id }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="log">
            <div class="aheading">
                <span>Logfile</span>
            </div>
            <div id="logview" class="abody" style="overflow-y: scroll; max-height:300px;">
                <p>
                    {{ log| safe }}
                </p>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}