{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");
            window.setupDatatables();
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="#" class="last">Priority Qos Rules</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage firewall rules in the system
        </div>

        <div class="rightbuttons">
            {% if enabled %}
                <a href="/device/firewall/acls/normal/add?mode=priority" class="btn"><i class="icon-plus"></i> Create a rule</a>
                <a class="btn" href="/device/firewall/priority/disable">Disable QOS</a>
            {% endif %}

            {% if not enabled %}
                <a class="btn" href="/device/firewall/priority/enable">Enable QOS</a>
            {% endif %}
        </div>
    </div>

    <div id="acls">
        {% if not enabled %}
            <div class="alert">
        <span class="message"><b>Warning:</b> Qos is currently disabled, click <a
                href="/device/firewall/priority/enable">here</a> to enable it.</span>
            </div>
        {% endif %}

        {% if enabled %}
            <div class="aheading">
                <span>Prioritise Traffic</span>
            </div>
            <br>

            <div class="abody">
                <table class="list noresultstable paddingtop border">
                    <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Criteria</th>
                    <th>Action</th>
                    <th>Operations</th>
                    </thead>
                    <tbody>
                    {% for rule in filter %}
                        <tr>
                            <td>
                                {% if rule.enabled %}
                                    <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/acls/disable/{{ rule.id }}?caller=/device/firewall/priority'>
                                        <input type=checkbox value=on name=enabled {% if rule.enabled %} CHECKED {% endif %} onchange='submit();'/>
                                    </form>
                                {% endif %}
                                {% if not rule.enabled %}
                                    <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/acls/enable/{{ rule.id }}?caller=/device/firewall/priority'>
                                        <input type=checkbox value=on name=enabled onchange='submit();'/>
                                    </form>
                                {% endif %}
                            </td>
                            <td>{{ rule.comment }}</td>

                            <td>
                                {{ rule.string }}
                            </td>
                            <td class="darkbackground">
                                priority {{ rule.nice }}
                            </td>
                            <td class="darkbackground">
                                <a href="/device/firewall/acls/normal/add/{{ rule.id }}?mode=priority">Edit</a>
                                <a href="/device/firewall/acls/up/{{ rule.id }}?caller=/device/firewall/priority">Up</a>
                                <a href="/device/firewall/acls/down/{{ rule.id }}?caller=/device/firewall/priority">Down</a>
                                <a href="/device/firewall/acls/delete/{{ rule.id }}?caller=/device/firewall/priority">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        </div>
{% endblock %}