{% extends "device_layout.html" %}
{% block content %}

<script>
    $(function(){
        window.setTab("firewall");
        window.setupDatatables();
    })
</script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="#" class="last">L7 Filter</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure Layer 7 Web and Application Filtering.
        </div>
        <div class="rightbuttons">
            <a class="btn" href="/device/firewall/webfilter/add">Add Rule</a>
        </div>
            </div>

    <script>
        $(document).ready(function () {
            $("#form1").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("span"));
                },

                wrapper: "li",
                submitHandler: function () {
                    form1.submit();
                },
                rules: {
                    sourceIp: {required: false, ipv4: true},
                    sourceMask: {required: false, ipv4: true},
                },

                messages: {
                    sourceIp: "Enter a valid IP address",
                    sourceMask: "Enter a valid mask",
                }
            })
        });
    </script>
    <div class="aheading">
        <span>Rules</span>
    </div><br>
    <div class="abody">
        <table class="list noresultstable border border">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Rule</th>
            <th>Type</th>
            <th>Operations</th>
            </thead>

            {% for rule in rules %}
                <tr>
                    <td>
                        {% if rule.enabled %}
                            <form STYLE='margin: 0px; padding: 0px;' method='post'
                                  action='/device/firewall/webfilter/disable/{{ rule.id }}'>
                                <input type=checkbox value=on name=enabled CHECKED onchange='this.form.submit();'/>
                            </form>
                        {% endif %}

                        {% if not rule.enabled %}
                            <form STYLE='margin: 0px; padding: 0px;' method='post'
                                  action='/device/firewall/webfilter/enable/{{ rule.id }}'>
                                <input type=checkbox value=on name=enabled onchange='this.form.submit();'/>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        {{ rule.name }}
                    </td>
                    <td>
                        {{ rule.string }}
                    </td>
                    <td class="darkbackground">
                        {% if rule.action == 0 %}
                            <font color="red"><b>Deny Request</b></font>
                        {% endif %}
                        {% if rule.action == 1 %}
                            <font color="green"><b>Allow Request</b></font>
                        {% endif %}

                        {% if rule.fireEvent %}
                            and <b>fire event</b>
                        {% endif %}

                        {% if rule.redirect %}
                            and <b>redirect</b>
                        {% endif %}
                    </td>
                    <td class="darkbackground">
                        <a href="/device/firewall/webfilter/add/{{ rule.id }}">Edit</a> |
                        <a href="/device/firewall/webfilter/{{ rule.id }}/moveup">Up</a> |
                        <a href="/device/firewall/webfilter/{{ rule.id }}/movedown">Down</a> |
                        <a href="/device/firewall/webfilter/{{ rule.id }}/delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
