{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="/device/firewall/webfilter">L7 Filter</a></li>
                <li><a href="#" class="last">Add Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">Add a webfilter rule</div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save Rule</a>
        </div>
    </div>

    <script>
        $(function () {
            function initializeApplicationCriteria() {
                $("#list").val([
                    {% for list in rule.lists%}
                        "{{list}}",
                    {%endfor %}
                ]);

                $("#userAgentAlias").val([
                    {% for list in rule.userAgentAlias%}
                        "{{list}}",
                    {%endfor %}
                ]);

                $("#contentTypeAlias").val([
                    {% for list in rule.contentTypeAlias%}
                        "{{list}}",
                    {%endfor %}
                ]);
                $("#signature").val([
                    "{{rule.signature}}"
                ]);
            }

            initializeApplicationCriteria();
        });
    </script>

    {% if rule %}
        <form id="form1" method="POST" action="/device/firewall/webfilter/add/{{ rule.id }}">
    {% endif %}

    {% if not rule %}
        <form id="form1" method="POST" action="/device/firewall/webfilter/add">
    {% endif %}
    <div class="aheading">
        <span>Name or Description</span>
    </div>
    <br>

    <div class="abody">
        <div class="aformgroup">
        <span class="aformlabel">
            Name
        </span>

            <div class="aformcontent">
                <textarea value="{{ rule.name }}" name="name" size=30 class='validate' placeholder='Rule name'>{{ rule.name }}</textarea>
            </div>
        </div>
    </div>

    <script src="/static/libs/tagging.min.js"></script>
    <form id="form1" method="POST" action="/device/firewall/webfilter/add{% if rule %}/{{ rule.id }}{% endif %}">

        <div class="aheading">
            <span>Source/Destination Criteria</span>
        </div>
        <br>

        {% include "device_standard_criteria.html" %}
        <div class="aheading">
            <span>Application Filtering Criteria</span>
        </div>
        <br>

        <div class="aformgroup">
            <span class="aformlabel"> Website List/Pool </span>

            <div class="aformcontent">
                <input type="checkbox" name="websiteEnabled" {% if rule.listEnabled %} CHECKED {% endif %}/>

                <select multiple class="chosen-select" data-placeholder="Choose a website pool..." name="list"
                        id="list"> {% for pool in pools %} {% if pool.type == 2 %}
                    <option value="{{ pool.id }}">{{ pool.name }}</option>
                {% endif %} {% endfor %} </select>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"> User Agent Pools </span>

            <div class="aformcontent">
                <input type="checkbox" name="useragentEnabled" {% if rule.userAgentEnabled %} CHECKED {% endif %}/>

                <select multiple class="chosen-select" data-placeholder="Choose a pool..." name="userAgentAlias"
                        id="userAgentAlias">{% for pool in pools %} {% if pool.type == 3 %}
                    <option value="{{ pool.id }}">{{ pool.name }}</option>
                {% endif %} {% endfor %} </select>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"> Content Type Pools </span>

            <div class="aformcontent">
                <input type="checkbox" name="contentTypeEnabled"  {% if rule.contentTypeEnabled %} CHECKED {% endif %}/>

                <select multiple class="chosen-select" data-placeholder="Choose a pool..." name="contentTypeAlias"
                        id="contentTypeAlias">
                    {% for pool in pools %} {% if pool.type == 3 %}
                        <option value="{{ pool.id }}">{{ pool.name }}</option>
                    {% endif %} {% endfor %}
                </select>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"> Signature </span>

            <div class="aformcontent">
                <input type="checkbox" name="signature_enabled" id="signature_enabled" {% if rule.signature_enabled %}
                       CHECKED {% endif %}>
                <select name="signature" id="signature">
                    <option value=""></option>
                    {% for signature in signatures %}
                        <option value="{{ signature.id }}">{{ signature.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        </br>
        <div class="aheading">
            <span>Actions and Options</span>
        </div>
        <br>

        <div class="aformgroup">
            <span class="aformlabel"> Fire Event </span>

            <div class="aformcontent">
                <input {% if rule.fireEvent %}CHECKED {% endif %} name='fireEvent' type='checkbox'/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"> Redirect </span>

            <div class="aformcontent">
                <input {% if rule.redirect %}CHECKED {% endif %} name='redirect' type='checkbox'/> : <input
                    value="{{ rule.redirectUrl }}" name="redirectUrl" type="text"/>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"> Filter Type </span>

            <div class="aformcontent">
                <select name='action'>
                    <option {% if rule.action == 0 %}SELECTED{% endif %} value=0>Blacklist</option>
                    <option {% if rule.action == 1 %}SELECTED{% endif %} value=1>Whitelist</option>
                </select>
            </div>
        </div>
        <hr>
    </form>
{% endblock %}
