{% extends "device_reporting.html" %}
{% block reporting %}
    <script>
        $(function () {
            window.setTab("reporting");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/">Reporting</a></li>
                <li><a href="" class="last">Summary</a></li>
            </ul>

            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            A summary of your network traffic over time. Here you can see historical data on users, devices, and destinations.
        </div>
    </div>
    <div class="aheading">
        <span>Quick Stats</span>
    </div>
    <br>
    <div class="abody">
        <div>
            <div class="container">
                <div class="pill">
                    <div class="pill-title"><a href="/device/status/reporting/address"><i class="icon-zoom-in"></i></a> Top Device</div>
                    <div id="topAddress" class="pill-metric">-</div>
                </div>
                <div class="pill">
                    <div class="pill-title"><a href="/device/status/reporting/users"><i class="icon-zoom-in"></i></a> Top User</div>
                    <div id="topUser" class="pill-metric">-</div>
                </div>
                <div class="pill">
                    <div class="pill-title"><a href="/device/status/reporting/websites"><i class="icon-zoom-in"></i></a> Top Website</div>
                    <div id="topWebsite" class="pill-metric">-</div>
                </div>
                <div class="pill">
                    <div class="pill-title"><a href="/device/status/reporting/types"><i class="icon-zoom-in"></i></a> Top Application Type</div>
                    <div id="topType" class="pill-metric">-</div>
                </div>
            </div>
        </div>
    </div>
<br>
    <div class="aheading">
        <span>Transfer Rate (in Megabit)</span>
    </div>
    <br>
    <div class="abody">
        <div id="transfer" style="width:99%; height: 150px;"></div>
    </div>
    <br>
    <div class="aheading">
        <span>Total Transfer over time</span>
    </div>
    <br>

    <div class="abody">
        <div id="chart_div" style="width: 99%; height: 150px;"></div>
    </div>

    <br>
    <script>
        $(function () {
            $.getJSON("/device/analytics/metrics/firewall.transfer.persec", function (dataset) {
                data = [];
                for (var i = 0; i < dataset.result.length; i++) {
                    var items = [new Date(dataset.result[i].time * 1000), dataset.result[i].value / window.MEGABIT];
                    data.push(items);
                }

                $.plot($("#transfer"),
                        [
                            {label: name, data: data}
                        ], {xaxis: {mode: 'time'}, lines: {fill: true},
                            grid: {
                                borderWidth: 1,
                                borderColor: '#ccc'
                            }

                        });
            });


            $.getJSON("/device/analytics/transfer", function (data) {
                uploadPoints = [];
                downloadPoints = [];

                var points = data.result;
                for (var i = 0; i < points.length; i++) {
                    uploadPoints.push([new Date(points[i].day), points[i].upload / window.MEGABYTE]);
                    downloadPoints.push([new Date(points[i].day), points[i].download / window.MEGABYTE]);
                }

                $.plot($('#chart_div'), [
                    {label: 'Upload', data: uploadPoints},
                    {label: 'Download', data: downloadPoints}
                ], {
                    xaxis: {mode: 'time', tickSize: [1, "day"]}, lines: {fill: true}, grid: { borderWidth: 1, borderColor: '#ccc'}
                });
            });

            $.getJSON("/device/analytics/transfer/users", function (data) {
                $("#topUser").html(data.result[0].user);
            });
            $.getJSON("/device/analytics/transfer/websites", function (data) {
                $("#topWebsite").html(data.result[0].website);
            });
            $.getJSON("/device/analytics/transfer/devices", function (data) {
                $("#topAddress").html(data.result[0].mac);
            });
            $.getJSON("/device/analytics/transfer/types", function (data) {
                $("#topType").html(data.result[0].type_name);
            });
        });
    </script>
{% endblock %}