{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configuration");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/events">Configuration</a></li>
                <li><a href="#" class="last">Authentication</a></li>
                <li><a href="#" class="last">Network Based Timeouts</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Adjust authentication timeouts based on network range
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <div class="aheading">
        <span>Timeouts</span>
    </div>
    <div class="abody">
        <div class="above-table">
            <span><i class="icon-info-sign"></i> Active Network Range Timeouts.</span>
            <a href="/device/configuration/authentication/timeouts/manage" class="btn btn-small above-table-btn" id="create"><i class="icon-plus"></i> Add new timeout</a>
        </div>
        <table id="users" class="list border">
            <thead>
            <th>Network Ranges</th>
            <th>Timeout</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for timeout in timeouts %}
                <tr>
                    <td>
                        {% for range in timeout.networks %}
                            {{ range.name }},
                        {% endfor %}
                    </td>
                    <td>{{ timeout.timeout }}</td>
                    <td>
                        <a href="/device/configuration/authentication/timeouts/{{ timeout.id }}/manage">Configure</a> |
                        <a href="/device/configuration/authentication/timeouts/{{ timeout.id }}/delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}