{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configuration");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/general">Configuration</a></li>
                <li><a href="#" class="last">Ldap Configuration</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure ldap connection settings
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save</a>
        </div>
    </div>

    <style>
        .aformlabel {
            width: 152px !important;
        }
    </style>
    <form id="form" method="POST">

        <div class="aheading">
            <span>Ldap server connection</span>
            {% if ldap.online %}
                <span class='status' style='background-color:green;float: right;'>Running</span>
            {% endif %}

            {% if not ldap.online %}
                <span class='status' style='background-color:red;float: right;'>Not running</span>
            {% endif %}
        </div>

        <div class="abody">
            <script>
                $(function () {
                    $("#userownedgroupmembership").change(function () {
                        if ($("#userownedgroupmembership").is(":checked")) {
                            $(".groupldapdetails").hide();
                        } else {
                            $(".groupldapdetails").show();
                        }
                    });

                    {% if userownedgroupmembership %}
                        $('#userownedgroupmembership').prop('checked', true);
                        $(".groupldapdetails").hide();
                    {% endif %}

                    {% if not userownedgroupmembership %}
                        $('#userownedgroupmembership').prop('checked', false);
                        $(".groupldapdetails").show();
                    {% endif%}
                });
            </script>
            <div class="aformgroup">
                <span class="aformlabel">Server:</span>

                <div class="aformcontent">
                    <input id="hostname" class="validate" title="Ldap server hostname. This is the domain name or ipaddress of your ldap service." name=hostname type=text value="{{ server | safe }}"/> : <input id="port" class="validate"
                                                                                                                                                                                                                  name=port
                                                                                                                                                                                                                  title="Ldap server port"
                                                                                                                                                                                                                  type=text
                                                                                                                                                                                                                  value="{{ port | safe }}"
                                                                                                                                                                                                                  size=4/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Bind User:</span>

                <div class="aformcontent">
                    <input class="validate" name="username" type=text value="{{ bindUsername | safe }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Bind Password:</span>

                <div class="aformcontent">
                    <input class="validate" name=password type=text value="{{ bindPassword | safe }}"/>
                </div>
            </div>
        </div>
        <div class="aheading">
            <span>Schema</span>
        </div>

        <div class="abody">

            <div class="aformgroup">
                <span class="aformlabel">Base DN:</span>

                <div class="aformcontent">
                    <input class="validate" name=basedn type=text value="{{ baseDn | safe }}"
                           title="Base DN, this defines where we will search for users in. For example, DC=duke2,DC=COM would be the correct base dn for the domain duke2.com"/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Users Manage Groups:</span>

                <div class="aformcontent">
                    <input id="userownedgroupmembership" name="userownedgroupmembership" type="checkbox" {% if userownedgroupmembership %} CHECKED {% endif %}/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Authenticate using dn:</span>

                <div class="aformcontent">
                    <input name="authenticateuserusingsupplieddn" type="checkbox" {% if authenticateuserusingsupplieddn %} CHECKED {% endif %}/>
                    <input class="validate" name="userdnattribute" type="text" value="{{ userdnattribute }}"/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Username Attribute:</span>

                <div class="aformcontent">
                    <input class="validate" name="usernameattribute" type="text" value="{{ usernameattribute }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">User Base:</span>

                <div class="aformcontent">
                    <input class="validate" name="userbase" type="text" value="{{ userbase }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">User Group Attribute:</span>

                <div class="aformcontent">
                    <input class="validate" name="usergroupattribute" type="text" value="{{ usergroupattribute }}"/>
                </div>
            </div>

            <div class="aformgroup groupldapdetails">
                <span class="aformlabel">Group Base:</span>

                <div class="aformcontent">
                    <input class="validate" name="groupbase" type="text" value="{{ groupbase }}"/>
                </div>
            </div>
            <div class="aformgroup groupldapdetails">
                <span class="aformlabel">Group Name Attribute:</span>

                <div class="aformcontent">
                    <input class="validate" name="groupnameattribute" type="text" value="{{ groupnameattribute }}"/>
                </div>
            </div>
            <div class="aformgroup groupldapdetails">
                <span class="aformlabel">Group Member Attribute:</span>

                <div class="aformcontent">
                    <input class="validate" name="groupmembernameattribute" type="text" value="{{ groupmembernameattribute }}"/>
                </div>
            </div>
        </div>
    <hr>
    </form>

{% endblock %}