{% extends "device_reporting.html" %}
{% block reporting %}
    <script>
        $(function () {
            window.setTab("reporting");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        })
    </script>
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/status/reporting">Reporting</a></li>
            <li><a href="/device/status/reporting/users" class="last">Users</a></li>
            <li><a href="" class="last"></a>'{{ user }}'</li>
        </ul>

        <span id="dateselector"></span>
    </div>
    <div id="banner-description">
        A breakdown of your network traffic by source device.
    </div>

    <br>
    <div style="position:relative;">

        <div class="graphs">
            <div class="aheading">
                <span>Quick Stats</span>
            </div>
            <br>

            <div class="abody">
                <div class="container">
                    <div class="pill">
                        <div class="pill-title">
                            <a href="/device/status/reporting/websites?filter_user={{ user }}"><i class="icon-zoom-in"></i></a> Top Website
                        </div>
                        <div class="pill-metric" id="topWebsite">-</div>
                    </div>

                    <div class="pill">
                        <div class="pill-title">
                            <a href="/device/status/reporting/types?filter_user={{ user }}"><i class="icon-zoom-in"></i></a> Top Application Type
                        </div>
                        <div class="pill-metric" id="topApplicationType">-</div>
                    </div>


                    <div class="pill">
                        <div class="pill-title">
                            Total Upload
                        </div>
                        <div class="pill-metric" id="totalUpload">-</div>
                    </div>

                    <div class="pill">
                        <div class="pill-title">
                            Total Download
                        </div>
                        <div class="pill-metric" id="totalDownload">-</div>
                    </div>
                    <div class="pill">
                        <div class="pill-title">
                            Total Transfer
                        </div>
                        <div class="pill-metric" id="totalTransfer">-</div>
                    </div>

                </div>
            </div>
            <br>
            <div class="aheading">
                <span>Transfer over time (in Megabytes)</span>
            </div>
            <br>

            <div class="abody">
                <div id="chart_div" style="width: 99%; height: 200px;"></div>
            </div>

            <br>
        </div>
        <br>

        <div class="tables">
            <div class="aheading">
                <span>Breakdown of transfer by user</span>
            </div>
            <br>

            <div class="abody">
                <table class="list border paging filtered export" id="transfer" data-sortby="3">
                    <thead class="general-title">
                    <th>Date/Time</th>
                    <th class="numberSort">Upload (in Megabytes)</th>
                    <th class="numberSort">Download (in Megabytes)</th>
                    <th class="numberSort">Total (in Megabytes)</th>
                    </thead>

                    <tbody id="tablebody">
                    <script id="tabletemplate" type="text/x-jquery-tmpl">
                                <tr>
                                    <td>${day}</td>
                                    <td class="right-align amountspace amountdecorator">${upload}</td>
                                    <td class="left-align amountspace amountdecorator">${download}</td>
                                    <td class="right-align amountspace amountdecorator">${upload + download}</td>
                                </tr>





                    </script>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <br>
        </div>
        <script>
            $(function () {
                $.getJSON("/device/analytics/transfer/user/{{ user }}", function (data) {
                    var uploadPoints = [];
                    var downloadPoints = [];

                    var total_upload = 0;
                    var total_download = 0;

                    var points = data.result;
                    for (var i = 0; i < points.length; i++) {
                        total_download = total_download + points[i].download;
                        total_upload = total_upload + points[i].upload;

                        uploadPoints.push([new Date(points[i].day), points[i].upload / window.MEGABYTE]);
                        downloadPoints.push([new Date(points[i].day), points[i].download / window.MEGABYTE]);
                    }

                    $.plot($('#chart_div'), [
                        {label: 'Upload', data: uploadPoints},
                        {label: 'Download', data: downloadPoints}
                    ], {
                        xaxis: {mode: 'time', tickSize: [1, "day"]}, lines: {fill: true}, grid: { borderWidth: 1, borderColor: '#ccc'}
                    });

                    $("#tabletemplate").tmpl(data.result).appendTo("#tablebody");
                    window.setupDatatables();

                    $("#totalTransfer").html(((total_upload + total_download) / window.MEGABYTE).toFixed(3));
                    $("#totalUpload").html((total_download / window.MEGABYTE).toFixed(3));
                    $("#totalDownload").html((total_upload / window.MEGABYTE).toFixed(3));
                });

                $.getJSON("/device/analytics/transfer/user/{{ user }}/websites", function (data) {
                    $("#topWebsite").html(data.result[0].website);
                });

                $.getJSON("/device/analytics/transfer/user/{{ user }}/types", function (data) {
                    $("#topApplicationType").html(data.result[0].type_name);
                });
            });
        </script>
    </div>
{% endblock %}