{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");
            window.setupDatatables();
        });
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="#" class="last">Signatures</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage application layer signatures
        </div>
        <div class="rightbuttons">
             <a href="/device/firewall/signature/edit" class="btn" id="addSignatureButton"><i class="icon-plus"></i> Create</a>
        </div>
    </div>

    <div class="aheading">
        <span>Custom Signatures</span>
    </div>
    <br>

    <div class="abody">
        <table class="list noresultstable paddingtop border">
            <thead>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for signature in signatures %}
                <tr>
                    <td>
                        {{ signature.name }}
                    </td>
                    <td>
                        {{ signature.type }}
                    <td>
                        {{ signature.description }}
                    </td>
                    <td class="darkbackground">
                        {% if signature.type == "signatures.regex" %}
                            <a href="/device/firewall/signature/edit/{{ signature.id }}">Edit</a>
                            <a href="/device/firewall/signature/delete/{{ signature.id }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}