{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("status");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device">Status</a></li>
            <li><a href="#" class="last">Performance</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Monitor Performance
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

{% for item in stats %}
<div class="aheading">
    <span>{{item.key}}</span>
</div>
<br>
<div class="abody">
    <script>
        var data = [];
        $(function(){
            var data = [];

            {% for i in item.data %}
                data.push([getTime("{{i.time}}:00:00"),{{i.value}}]);
            {% endfor %}

            $.plot($("#transfer_{{item.key}}"),
                [
                    {label:name, data:data}
                ], {xaxis:{mode:'time'}, lines:{fill:true},
                    grid:{
                        borderWidth:1,
                        borderColor:'#ccc'
                    }

                });
            });
    </script>

    <div id="transfer_{{item.key | safe}}" style="width:98%; height: 150px;"></div>
</div>
{%endfor%}
{% endif %}

{% endblock %}