{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configuration");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        });
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/general">Configuration</a></li>
                <li><a href="/device/configuration/events">Event Handling</a></li>
                <li><a href="#" class="last">Alert</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Create or manage an alert
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save</a>
        </div>

    </div>

    <form method="POST">
        <div class="aheading">
            <span>Configuration</span>
        </div>
        <br>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Conditions:</span>

                <div class="aformcontent">
                    <textarea id="conditions" name="conditions">{{ alert.conditions }}</textarea>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Actions:</span>

                <div class="aformcontent">
                    <textarea id="actions" name="actions">{{ alert.actions }}</textarea>
                </div>
            </div>
        </div>
    </form>
{% endblock %}