{% extends "device_reporting.html" %}
{% block reporting %}
    <script>
        $(function () {
            window.setTab("reporting");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        })
    </script>

    <div id="banner-breadcrumb">
            <ul>
                <li><a href="/">Reporting</a></li>
                {% if filter_user %}
                    <li><a href="/device/status/reporting/users" class="last">Users</a></li>
                    <li><a href="/device/status/reporting/users/admin">'{{ filter_user }}'</a></li>
                    <li><a href="">Websites</a></li>
                {% endif %}

                {% if filter_mac %}
                    <li><a href="/device/status/reporting/address" class="last">Devices</a></li>
                    <li><a href="/device/status/reporting/address/{{ filter_mac }}/{{ filter_ip }}">'{{ filter_mac }}/{{ filter_ip }}'</a></li>
                    <li><a href="">Websites</a></li>
                {% endif %}

                {% if not filter_user and not filter_mac %}
                    <li><a href="/device/status/reporting/websites">Websites</a></li>
                {% endif %}

                <li><a href="">{{ website }}</a></li>
            </ul>

            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            A breakdown of your network traffic by network users.
        </div>
    <br>

    <div style="position:relative;">
        <div class="aheading"><span>Subdomain Traffic </span></div>
        <br>

        <div class="abody">

            <table class="list border paging filtered export" id="websites" data-sortby="3">
                <thead>
                <th>Subdomain</th>
                <th class="numberSort">Upload (in Megabytes)</th>
                <th class="numberSort">Download (in Megabytes)</th>
                <th class="numberSort">Total (in Megabytes)</th>
                </thead>
                <tbody id="websitebody">
                <script id="tabletemplate" type="text/x-jquery-tmpl">
                    <tr>
                        <td>${website_full}</td>
                        <td class="right-align amountspace amountdecorator">${upload}</td>
                        <td class="left-align amountspace amountdecorator">${download}</td>
                        <td class="right-align amountspace amountdecorator">${transfer}</td>
                    </tr>


                </script>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

    <script>
        {% if not filter_user and not filter_mac %}
            $.getJSON("/device/analytics/transfer/website/{{ website }}", function (data) {
                $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
                window.setupDatatables();
            });
        {% endif %}

        {% if filter_user %}
            $.getJSON("/device/analytics/transfer/user/{{ filter_user    }}/website/{{ website }}", function (data) {
                $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
                window.setupDatatables();
            });
        {% endif %}

        {% if filter_mac %}
            $.getJSON("/device/analytics/transfer/device/{{ filter_mac}}/{{ filter_ip }}/website/{{ website }}", function (data) {
                $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
                window.setupDatatables();
            });
        {% endif %}
    </script>

{% endblock %}