{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <script src="/static/libs/tagging.min.js"></script>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="/device/firewall/filtering">Filtering Rules</a></li>
                <li><a href="#" class="last">Add Rule</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage firewall rules in the system
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save Rule</a>
        </div>
    </div>
    <form id="form" method=POST>


        <div class="aheading" data-for="sourceInfo">
            <span>Name or Description</span>
        </div>
        <div class="abody" id="sourceInfo">
            <div class="aformgroup">
                <span class="aformlabel">Name</span>

                <div class="aformcontent">
                    <textarea name=comment>{{ rule.comment }}</textarea></div>
            </div>
        </div>

        <div class="aheading" data-for="sourceInfo">
            <span>Source/Destination Criteria</span>
        </div>

        {% include "device_standard_criteria.html" %}

        <div id="advanceInfoLink" class="aheading" data-for="advanceInfo">
            <span>Advanced Options</span>
        </div>

        <div class="abody" id="advanceInfo">
            <div class="aformgroup">
                <span class="aformlabel">Dont track</span>

                <div class="aformcontent">
                    <input {% if rule.ignoreconntrack %} CHECKED {% endif %} title="If checked, the connection tracker will ignore packets matching this rule. This is helpful for debugging." type=checkbox name="ignoreconntrack"/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Log Packets</span>

                <div class="aformcontent">
                    <input {% if rule.log %}CHECKED {% endif %} title="If checked, all packets matching this criteria will be logged to syslog" type=checkbox name="log"/>
                </div>
            </div>

        </div>

        <div class="aheading">
            <span>Actions</span>
        </div>

        <div class="abody">
            {% if mode == "filtering" %}
                <div class="aformgroup">
                    <span class="aformlabel">Filter</span>

                    <div class="aformcontent">
                        <input type=radio name=action value='ACCEPT' {% if rule.action == 1 %} CHECKED {% endif %} {% if not rule.action %}CHECKED{% endif %}/>
                        <font color=#00aa00>Accept</font>
                        <input type=radio name=action value='DROP' {% if rule.action == 0 %} CHECKED {% endif %}/>
                        <font color=#ff0000>Drop</font>
                    </div>
                </div>
            {% endif %}

            {% if mode == "forwarding" %}
                <div class="aformgroup">
                    <span class="aformlabel">Masquerade</span>

                    <div class="aformcontent">
                        <input {% if rule.action == 2 %} CHECKED {% endif %} type=radio name=action value='MASQUERADE'/>Masquerade to:
                        <select name=snat_device_target>
                            <option value=-1></option>
                            {% for device in devices %}
                                <option value="{{ device.interface }}" {% if rule.masqueradeTargetDevice == device.interface %} SELECTED {% endif %}>{{ device.interface }}</option>{% endfor %}
                        </select>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">Forward</span>

                    <div class="aformcontent">
                        <input {% if rule.action == 3 %} CHECKED {% endif %} type=radio name=action value='FORWARD'/>Forward to:
            <span>
                <input value="{{ rule.forwardTarget }}" name=dnat_target size=12 class='validate' placeholder="Ip Address"/>
                :
                <input value="{{ rule.forwardPort }}" name=dnat_port size=5 class='validate' placeholder="Port"/>
            </span>
                    </div>
                </div>
            {% endif %}

            {% if mode == "priority" %}
                <div class="aformgroup">
                    <span class="aformlabel">Prioritize Traffic</span>

                    <div class="aformcontent">
                        <input CHECKED type=radio name=action value='PRIORITISE'/>
                        <select name="nice">
                            <option value="1" {% if rule.nice == 1 %}SELECTED {% endif %}>1</option>
                            <option value="2" {% if rule.nice == 2 %}SELECTED {% endif %}>2</option>
                            <option value="3" {% if rule.nice == 3 %}SELECTED {% endif %}>3</option>
                            <option value="4" {% if rule.nice == 4 %}SELECTED {% endif %}>4</option>
                            <option value="5" {% if rule.nice == 5 %}SELECTED {% endif %}>5</option>
                        </select>
                    </div>
                </div>
            {% endif %}
        </div>
        <hr>
    </form>
    <script>
        $(".chosen-select").chosen();
    </script>
{% endblock %}
