{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Network</a></li>
                <li><a href="/device/network/devices">Network Devices</a></li>
                {% if not device %}
                    <li><a href="#" class="last">Create Device</a></li>
                {% endif %}

                {% if device %}
                    <li><a href="#" class="last">Edit: {{ device.interface | safe }}</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="banner-description">
            Configure individual network device
        </div>
        <div class="rightbuttons">
            <a href="#" class="btn" id="save-button">
                <icon class="icon-hdd"></icon>
                Save Device</a>
        </div>
    </div>

    <script>
        $(function () {

            var init_address_configuration_panel = function () {
                if (!$("#dhcp").is(':checked')) {
                    $(".ipoptions").show();
                } else {
                    $(".ipoptions").hide();
                }

                $("#dhcp").change(function () {
                    $(".ipoptions").toggle();
                });
            };

            var init_type = function () {
                {% if device.physical %}
                    $("#type").val("physical");
                    $("#type").prop('disabled', 'disabled');
                    $("#device").prop('disabled', 'disabled');
                {% endif %}

                {% if device.vlan %}
                    $("#type").val("vlan");
                    $("#vlanInterface").val("{{ device.vlanInterface }}");
                    $("#type").prop('disabled', 'disabled');
                    $("#vlanId").prop('disabled', 'disabled');
                    $("#vlanInterface").prop('disabled', 'disabled');

                {% endif %}

                {% if device.bridge %}
                    $("#type").val("bridge");
                    $("#bridgeDevices").val([
                        {% for name in device.bridgeDevices %}
                            "{{name}}",
                        {%endfor %}
                    ]);
                    $("#type").prop('disabled', 'disabled');

                {% endif %}

                {% if device.lacp %}
                    $("#type").val("lacp");
                    $("#lacpDevices").val([
                        {% for name in device.lacpDevices %}
                            "{{name}}",
                        {%endfor %}
                    ]);
                    $("#type").prop('disabled', 'disabled');
                    $("#lacpMode").val("{{ device.lacpMode }}");
                    $("#lacpLinkStatePollFrequency").val("{{ device.lacpLinkStatePollFrequency }}");
                    $("#lacpLinkStateUpDelay").val("{{ device.lacpLinkStateUpDelay }}");
                    $("#lacpLinkStateDownDelay").val("{{ device.lacpLinkStateDownDelay }}");

                {% endif %}
            };


            var hide_show_interface_options = function () {
                var type_value = $("#type").val();
                if (type_value == "ndef") {
                    $("#phy_options").hide();
                    $("#vlan_options").hide();
                    $("#br_options").hide();
                    $("#lacp_options").hide();
                }

                if (type_value == "physical") {
                    $("#phy_options").show();
                    $("#vlan_options").hide();
                    $("#br_options").hide();
                    $("#lacp_options").hide();
                }
                if (type_value == "vlan") {
                    $("#phy_options").hide();
                    $("#vlan_options").show();
                    $("#br_options").hide();
                    $("#lacp_options").hide();
                }
                if (type_value == "bridge") {
                    $("#phy_options").hide();
                    $("#vlan_options").hide();
                    $("#br_options").show();
                    $("#lacp_options").hide();
                }
                if (type_value == "lacp") {
                    $("#phy_options").hide();
                    $("#vlan_options").hide();
                    $("#br_options").hide();
                    $("#lacp_options").show();
                }

            };
            init_type();
            jQuery(".chosen-select").data("placeholder", "").chosen();
            init_address_configuration_panel();
            hide_show_interface_options();
            $("#type").change(function () {
                hide_show_interface_options();
            });

            $("#save-button").click(function () {
                $("form:first").submit();
            });

            window.render_form_from_aliases = function () {
                window.clear_alias_div();

                var aliases_string = $("#aliases").val();
                var alias_array = aliases_string.split("\n");
                for (var i = 0; i < alias_array.length; i++) {
                    if (alias_array[i] != '') {
                        var ip = alias_array[i].split("/")[0];
                        var mask = alias_array[i].split("/")[1];
                        var bcast = alias_array[i].split("/")[2];

                        if (ip != undefined && mask != undefined && bcast != undefined) {
                            add_alias(ip, mask, bcast);
                        }
                    }
                }
            };

            window.write_alias_field = function () {
                var rows = $("#additional_ip_addresses .aformcontent");
                $("#aliases").val("");

                var new_value = "";
                for (var i = 0; i < rows.length; i++) {
                    var ip_field = rows[i].children[0];
                    var mask_field = rows[i].children[1];
                    var bcast_field = rows[i].children[2];

                    new_value += ip_field.value + "/" + mask_field.value + "/" + bcast_field.value + "\n";
                }

                $("#aliases").val(new_value);
            };

            window.add_alias = function (ip, mask, bcast) {
                var form_row_ip = "<input class='validate' type='text' value='" + ip + "' onchange='window.write_alias_field();'/>";
                var form_row_mask = "<input class='validate' type='text' value='" + mask + "' onchange='window.write_alias_field();'/>";
                var form_row_bcast = "<input class='validate' type='text' value='" + bcast + "' onchange='window.write_alias_field();'/>";

                var content = "<div class='aformgroup ipoptions'>";
                content += "<span class='aformlabel'></span>";
                content += "<div class='aformcontent'>";
                content += form_row_ip + "/ " + form_row_mask + "/" + form_row_bcast;
                content += "<a href='#' onclick='window.delete_alias($(this));'><i class='icon-minus'></i></a>";
                content += "</div>";
                content += "</div>";

                $("#additional_ip_addresses").append(content);
            };

            window.delete_alias = function (elem) {
                elem.parent().parent().remove();
                window.write_alias_field();
            };

            window.clear_alias_div = function () {
                $("#additional_ip_addresses").html("");
            };

            var initial_value = "";
            {% for address in device.ipv4 %}
                initial_value += "{{ address.ip }}/{{ address.mask }}/{{ address.broadcast }}\n";
            {% endfor %}
            $("#aliases").val(initial_value);
            window.render_form_from_aliases();
        });
    </script>

    <div id="details">
    <div class="aheading">
        <span>Device Configuration</span>
    </div>

    <form id="form1" method="POST">
    <div class="abody">
        {% if device %}

            <div class="aformgroup">
                <span class="aformlabel">Save Interface:</span>

                <div class="aformcontent">
                    <input type="checkbox" id="persisted" name="persisted" {% if device.persisted %} CHECKED {% endif %}/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Label:</span>

                <div class="aformcontent">
                    <input id="name" name="name" size="20" class="validate" value="{{ device.name | safe }}"/>
                </div>
            </div>
        {% endif %}
        <div class="aformgroup">
            <span class="aformlabel">Type:</span>

            <div class="aformcontent">
                <select id="type" name="type">
                    <option value="ndef"></option>
                    {% if device %}
                    <option value="physical">Physical Interface</option>
                    {% endif %}
                    <option value="bridge">Network Bridge</option>
                    <option value="vlan">VLAN Interface</option>
                    <option value="lacp">LACP Interface</option>
                </select>
            </div>
        </div>

        <div id="phy_options">
            <div class="aformgroup">
                <span class="aformlabel">Interface:</span>

                <div class="aformcontent">
                    <input id="device" name="device" size="20" class="validate" value="{{ device.interface | safe }}"/>
                </div>
            </div>
        </div>

        <div id="vlan_options">
            <div class="aformgroup">
                <span class="aformlabel">Vlan ID:</span>

                <div class="aformcontent">
                    <input id="vlanId" name="vlanId" size="20" class="validate" value="{{ device.vlanId | safe }}"/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Interface:</span>

                <div class="aformcontent">
                    <select name="vlanInterface" id="vlanInterface">
                        {% for d in devices %}
                            {% if d.type != 3 and not d.bridge and not d.vlan %}
                                <option value="{{ d.interface }}">{{ d.interface }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div id="br_options">
            {% if device %}
                <div class="aformgroup">
                    <span class="aformlabel">Bridged Devices:</span>

                    <div class="aformcontent">
                        <select multiple class="chosen-select" data-placeholder="" name="bridgeDevices" id="bridgeDevices">
                            {% for d in devices %}
                                {% if d.type != 3 and not d.bridge %}
                                    <option value="{{ d.interface }}">{{ d.interface }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
        </div>

        <div id="lacp_options">
            {% if device %}
                <div class="aformgroup">
                    <span class="aformlabel">Mode:</span>

                    <div class="aformcontent">
                        <select data-placeholder="" name="lacpMode" id="lacpMode">
                            <option value="0">balance-rr</option>
                            <option value="1">active-backup</option>
                            <option value="2">balance-xor</option>
                            <option value="3">broadcast</option>
                            <option value="4" SELECTED>802.3ad</option>
                            <option value="5">balance-tlb</option>
                            <option value="6">balance-alb</option>
                        </select>
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">Bonded Devices:</span>

                    <div class="aformcontent">
                        <select multiple class="chosen-select" data-placeholder="" name="lacpDevices" id="lacpDevices">
                            {% for d in devices %}
                                {% if d.type != 3 and not d.lacp %}
                                    <option value="{{ d.interface }}">{{ d.interface }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">Poll Interval:</span>

                    <div class="aformcontent">
                        <input type="text" id="lacpLinkStatePollFrequency" class="validate" name="lacpLinkStatePollFrequency" value="100">
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">Down Delay:</span>

                    <div class="aformcontent">
                        <input type="text" id="lacpLinkStateDownDelay" class="validate" name="lacpLinkStateDownDelay" value="200">
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">Up Delay:</span>

                    <div class="aformcontent">
                        <input type="text" id="lacpLinkStateUpDelay" class="validate" name="lacpLinkStateUpDelay" value="200">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <br>
    {% if device %}

        <div class="aheading">
            <span>Address Configuration</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Dhcp:</span>

                <div class="aformcontent">
                    <input id="dhcp" name="dhcp" type="checkbox" {% if device.dhcp %} CHECKED {% endif %} />
                </div>
            </div>
            <div class="aformgroup ipoptions">
                <span class="aformlabel">IPv4 Address:</span>

                <div class="aformcontent">
                    <a href="#" onclick="window.add_alias('','', '');"><i class="icon-plus"></i> Click to add an address</a>
                </div>
            </div>
            <div id="additional_ip_addresses" class="ipoptions">

            </div>
            <div class="aformgroup ipoptions">
                <span class="aformlabel">Gateway:</span>

                <div class="aformcontent">
                    <input id="gateway" name="gateway" size="20" class="validate"
                           value="{{ device.gateway | safe }}">
                </div>
            </div>

            <textarea hidden id="aliases" name="aliases" value=""></textarea>
        </div>

        <br>
        <div class="aheading">
            <span>Dhcp Server</span>
        </div>

        <div class="abody">

            <div class="aformgroup">
                <span class="aformlabel">Enabled:</span>

                <div class="aformcontent">
                    <input class="validate" name="dhcpServerEnabled" type="checkbox" {% if device.dhcpServerEnabled %}
                           CHECKED
                    {% endif %} />
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Address Range:</span>

                <div class="aformcontent">
                    <input id="dhcpServerStart" placeholder="Start" name="dhcpServerStart"
                           value="{{ device.dhcpServerStart }}"
                           class='validate'>/
                    <input id="dhcpServerEnd" placeholder="End" name="dhcpServerEnd" value="{{ device.dhcpServerEnd }}"
                           class='validate'>
                </div>
                <div class="aformdescription">To manage and create static leases, click <a href="/device/network/devices/{{ device.interface }}/leases">here</a></div>
            </div>
        </div>
    {% endif %}
    </form>
    </div>
{% endblock %}