{% extends "device_reporting.html" %}
{% block reporting %}
    <script>
        $(function () {
            window.setTab("reporting");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        });
    </script>
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/">Reporting</a></li>
                <li><a href="" class="last">Users</a></li>
            </ul>

            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            A breakdown of your network traffic by network users.
        </div>
    <br>
    <div class="graphs">
        <div class="aheading"><span>Transfer by user (in Megabytes)</span></div>
        <br>

        <div class="abody">
            <div id="all" style="width: 99%; height: 200;"></div>
        </div>
    </div>
    <br>
    <div class="tables">
        <div class="aheading"><span>Breakdown by user</span></div>
        <br>

        <div class="abody">
            <table class="list border filtered export paging newdatatable" id="addresses" data-sortby="3">
                <thead class="general-title">
                <th><b>Username</b></th>
                <th class="numberSort"><b>Upload (in Megabytes)</b></th>
                <th class="numberSort"><b>Download (in Megabytes)</b></th>
                <th class="numberSort"><b>Total (in Megabytes)</b></th>
                </thead>

                <tbody id="websitebody">
                <script id="tabletemplate" type="text/x-jquery-tmpl">
                    <tr>
                        <td><a href="/device/status/reporting/users/${user}">${user}</a></td>
                        <td class="right-align amountspace amountdecorator">${upload}</td>
                        <td class="left-align amountspace amountdecorator">${download}</td>
                        <td class="right-align amountspace amountdecorator">${upload + download}</td>
                    </tr>


                </script>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

    <script>
        $.getJSON("/device/analytics/transfer/users", function (data) {
            var series = [];
            var ticks = [];
            for (var i = 0; i < data.result.length && i < 6; i++) {
                var item = data.result[i];
                series.push([
                    i, (item.upload + item.download) / window.MEGABYTE
                ]);
                ticks.push([
                    i, item.user
                ]);
            }

            $.plot($("#all"), [
                {
                    label: "Top Users",
                    data: series,
                    bars: {
                        show: true,
                        barWidth: 0.5,
                        align: "center"
                    }
                }
            ], {xaxis: {
                ticks: ticks
            }, grid: { borderWidth: 1, borderColor: '#ccc'}});


            $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
            window.setupDatatables();
        });
    </script>

{% endblock %}