{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("users");
            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>


    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device">Status</a></li>
                <li><a href="/device/status/hosts" class="last">Active Clients</a></li>
                <li><a href="#" class="last">Edit Host: {{ host.host }} - {{ host.hw }}</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View and manage Active Host
        </div>
        <div class="rightbuttons">
            <a id="save-button" class='btn' href='#'>Save</a>
        </div>
    </div>

    {% if not host %}
        <div class="alert">
            <span class="message">This requested host could not be found on the device.</span>
        </div>
    {% endif %}

    {% if host %}
        <div id="editUserContent">
            <div id="details">
                <form id=form1 method=POST name=form1>
                    <div class="aheading">
                        <span>Host details</span>
                    </div>

                    <div class="abody">
                        <div class="aformgroup">
                            <span class="aformlabel">Mac Address:</span>

                            <div class="aformcontent-text">
                                <span>{{ host.hw }}</span>
                            </div>
                        </div>
                        <div class="aformgroup">
                            <span class="aformlabel">Current IP:</span>

                            <div class="aformcontent-text">
                                <span>{{ host.host }}</span>
                            </div>
                        </div>
                        <div class="aformgroup">
                            <span class="aformlabel">Hostname:</span>

                            <div class="aformcontent-text">
                                <span>{{ host.hostname }}</span>
                            </div>
                        </div>
                        <div class="aformgroup">
                            <span class="aformlabel">Quarantined:</span>

                            <div class="aformcontent">
                                <input type="checkbox" name="quarantined" {% if host.quarantined %} CHECKED {% endif %}>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}