{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

        })
    </script>

    <style>
        table#tp-days > tbody > tr > td > input[type=checkbox] {
            position: relative;
            top: 1px;
        }

        table#tp-days > tbody > tr > td b {
            padding-right: 7px
        }

        table#tp-days {
            border-radius: 3px;
            border: solid 1px rgb(204, 204, 204);
            border-collapse: separate;
            background-color: rgb(255, 255, 255);
            padding: 5px;
        }

        table#tp-days td {
            text-align: center;
            width: 35px;
        }

        table#tp-days tbody {
            padding-bottom: 30px;
        }

        table#tp-days b {
            padding-right: 5px;
        }
    </style>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="/device/firewall/periods">Periods</a></li>
                <li><a href="#" class="last">Modify</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage a time period
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save Period</a>
        </div>
    </div>

    <form id="form1" method="POST">
        <div class="aheading">
            <span>Period</span>
        </div>

        <span class="aformlabel">
                Timeframe:
        </span>


        <div class="aformcontent">
            <div id="timeSlider" style="width: 160px; margin: 6px 26px 0px 8px; display: inline; float:left"></div>
            <input value="" type="text" size=3 class="validate" name="timeRange" id="timeRange" style="border:0; margin: 3px 18px 0px 0px; width: 160px; float: left" readonly/>
        </div>
        <div class="clearfix"></div>
    <span class="aformlabel">
            Scheduled Start:
    </span>

        <div class="aformcontent">
            <input value="{{ period.startDate }}" type="text" name="startDate" style="border:0; cursor: pointer; text-align:right; width: 80px; float: left" readonly/>
            <a class="resetprior" href="#" style="border:0; margin: 5px 18px 0px 5px; float: left">Reset</a>
        </div>
        <div class="clearfix"></div>
    <span class="aformlabel">
        Scheduled Finish:
    </span>

        <div class="aformcontent">
            <input value="{{ period.endDate }}" type="text" name="endDate" style="border:0; cursor: pointer; text-align:right; width: 80px; float: left" readonly/>
            <a class="resetprior" href="#" style="border:0; margin: 5px 18px 0px 5px; float: left">Reset</a>
        </div>
        <div class="clearfix"></div>
        <div class="aformgroup">
        <span class="aformlabel">
            Day of Week:
        </span>
            <table id="tp-days">
                <thead>
                <tr>
                    <th></th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>All</b><input type="checkbox" name="any"></td>
                    <td><input type="checkbox" name="mon" set></td>
                    <td><input type="checkbox" name="tue" set></td>
                    <td><input type="checkbox" name="wed" set></td>
                    <td><input type="checkbox" name="thu" set></td>
                    <td><input type="checkbox" name="fri" set></td>
                    <td><input type="checkbox" name="sat" set></td>
                    <td><input type="checkbox" name="sun" set></td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
    </form>
    <script>
        function breakup(val) {
            val = "" + val
            var left = "" + (val).split(".")[0];
            var right = "" + (0 + ("0." + val.split(".")[1]) * 60);
            return left + ":" + (right != "NaN" ? right : "00");
        }
        $('input[type=checkbox][set]').parent().append($('<span>', {type: "tick", set: true, hidden: true}).html("&#x2713;"));
        $('input[type=checkbox][name=any]').change(function () {
            val = $(this).prop("checked");
            checkboxes = $('input[type=checkbox][set]').prop("checked", val).prop("disabled", val);
            tics = $('span[type=tick][set]');
            if (!val) {
                checkboxes.show();
                tics.hide();
            } else {
                checkboxes.hide();
                tics.show();
            }
        });
        if (!$('input[type=checkbox][name=any]').prop("checked", {{ period.any |lower }}).prop("checked")) {
            $('input[type=checkbox][name=mon]').prop("checked", {{ period.mon |lower }});
            $('input[type=checkbox][name=tue]').prop("checked", {{ period.tue |lower }});
            $('input[type=checkbox][name=wed]').prop("checked", {{ period.wed |lower }});
            $('input[type=checkbox][name=thu]').prop("checked", {{ period.thu |lower }});
            $('input[type=checkbox][name=fri]').prop("checked", {{ period.fri |lower }});
            $('input[type=checkbox][name=sat]').prop("checked", {{ period.sat |lower }});
            $('input[type=checkbox][name=sun]').prop("checked", {{ period.sun |lower }});
        } else {
            $('input[type=checkbox][name=any]').change();
        }
        $("[name=startDate]").attr("placeholder", "Pick A Date").datepicker({dateFormat: "yy-mm-dd", minDate: 0}).click(function () {
            $(this).attr("placeholder", "")
        });
        $("[name=endDate]").attr("placeholder", "Pick A Date").datepicker({dateFormat: "yy-mm-dd", minDate: 0}).click(function () {
            $(this).attr("placeholder", "")
        });
        $("#timeSlider").slider({
            range: true,
            min: 0,
            max: 24,
            values: [{% if period.startTime != -1 %}{{period.startTime}}{%else%}0{%endif%}, {% if period.endTime != -1 %}{{period.endTime}}{%else%}24{% endif %}],
            step: 0.25,
            slide: function (event, ui) {
                $("#timeRange").val(breakup(ui.values[0]) + " - " + breakup(ui.values[1]));
            }
        });
        $("#timeRange").val(breakup($("#timeSlider").slider("values", 0)) + " - " + breakup($("#timeSlider").slider("values", 1)));
        $(".resetprior").click(function () {
            $(this).prev().val("").attr("placeholder", "Pick A Date");
        });
    </script>
{% endblock %}
