{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Network</a></li>
                <li><a href="#" class="last">Dns Forwarder</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure the Dns Forwarder
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save</a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#form").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("span").next("div"));
                },

                debug: true,
                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },
                rules: {
                    dns1: {required: false, ipv4: true},
                    dns2: {required: false, ipv4: true},
                },

                messages: {
                    dns1: "Enter a valid dns server ip address",
                    dns2: "Enter a valid dns server ip address",
                }
            });
        });
    </script>

    {% if running %}
        <span class='status' style='background-color:green'>Running</span>
    {% endif %}
    {% if not running %}
        <span class='status' style='background-color:red'>Stopped</span>
    {% endif %}
    <div class="aheading">
        <span>Configuration</span>


    </div>
    <div class="abody">
        <form id=form method="POST">
            <div class="aformgroup">
            <span class="aformlabel">
                Enabled
            </span>

                <div class="aformcontent">
                    <input type="checkbox" name="enabled" {% if enabled %}CHECKED{% endif %}>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Domain Name
            </span>

                <div class="aformcontent">
                    <input name="domain" class="validate" value="{{ domain }}" size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Primary Server
            </span>

                <div class="aformcontent">
                    <input name="primary" class="validate" value="{{ primary }}" size=15>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                Secondary Server
            </span>

                <div class="aformcontent">
                    <input name="secondary" class="validate" value="{{ secondary }}" size=15>
                </div>
            </div>
        <hr>
        </form>
    </div>

{% endblock %}