{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="/device/firewall/aliases">Aliases and Pools</a></li>
                <li><a href="#" class="last">View Alias: {{ alias.name | safe }}</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage addresses inside an alias
        </div>

        <div class="rightbuttons">
            <a class="btn" href="/device/firewall/aliases/{{ alias.id }}/sync">Resync Alias</a>
        </div>
    </div>

    <div class="aheading">
        <span>Current entries in Alias/Pool</span>
    </div>
    <br>
    <div class="abody">
        <form method="POST">
            <table id="addresses" class="list border export filtered paging">
                <thead>
                <th>Address</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for i in items %}
                    <tr>
                        <td>{{ i | safe }}</td>
                        <td><a href="/device/firewall/aliases/{{ alias.id | safe }}/deletevalue?value={{ i|e }}">Delete</a></td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <textarea rows="3" cols="100" name="value" placeholder="Enter a single or multiple entry"></textarea>
                    </td>
                    <td><input type="submit" value="Add"/></td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
    <script>
        $(function () {
            window.setupDatatables();
        });
    </script>
{% endblock %}
