{% extends "device_reporting.html" %}
{% block reporting %}
    <script>
        $(function () {
            window.setTab("reporting");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        })
    </script>
    <div id="banner-breadcrumb">
            <ul>
                <li><a href="/">Reporting</a></li>
                {% if filter_user %}
                    <li><a href="/device/status/reporting/users" class="last">Users</a></li>
                    <li><a href="/device/status/reporting/users/admin">'{{ filter_user }}'</a></li>
                    <li><a href="">Websites</a></li>
                {% endif %}

                {% if filter_mac %}
                    <li><a href="/device/status/reporting/address" class="last">Devices</a></li>
                    <li><a href="/device/status/reporting/address/{{ filter_mac }}/{{ filter_ip }}">'{{ filter_mac }}/{{ filter_ip }}'</a></li>
                    <li><a href="">Websites</a></li>
                {% endif %}

                {% if not filter_user and not filter_mac %}
                    <li><a href="">Websites</a></li>
                {% endif %}
            </ul>

            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            A breakdown of your network traffic by network users.
        </div>
    <br>

    <div class="graphs">
        <div class="aheading"><span>Transfer by website  (in Megabytes)</span></div>
        <br>

        <div class="abody">
            <div id="all" style="width: 99%; height: 200;"></div>
        </div>
    </div>
    <br>
    <div class="tables">
        <div class="aheading"><span>Breakdown by Websites</span></div>
        <br>

        <div class="abody">
            <table class="list border filtered export paging newdatatable" id="addresses" data-sortby="3">
                <thead class="general-title">
                <th><b>Username</b></th>
                <th class="numberSort"><b>Upload (in Megabytes)</b></th>
                <th class="numberSort"><b>Download (in Megabytes)</b></th>
                <th class="numberSort"><b>Total (in Megabytes)</b></th>
                </thead>

                <tbody id="websitebody">
                <script id="tabletemplate" type="text/x-jquery-tmpl">
                    <tr>
                        {% if not filter_user and not filter_mac%}
                        <td><a href="/device/status/reporting/websites/${website}">${website}</a></td>
                        {% endif %}

                        {% if filter_user %}
                        <td><a href="/device/status/reporting/websites/${website}?filter_user={{ filter_user }}">${website}</a></td>
                        {% endif %}

                        {% if filter_mac%}
                        <td><a href="/device/status/reporting/websites/${website}?filter_mac={{ filter_mac }}&filter_ip={{ filter_ip }}">${website}</a></td>
                        {% endif %}
                        <td class="right-align amountspace amountdecorator">${upload}</td>
                        <td class="left-align amountspace amountdecorator">${download}</td>
                        <td class="right-align amountspace amountdecorator">${upload + download}</td>
                    </tr>


                </script>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

    <script>
        {% if not filter_mac and not filter_user %}
        $.getJSON("/device/analytics/transfer/websites", function (data) {
            var series = [];
            var ticks = [];
            for (var i = 0; i < data.result.length && i < 10; i++) {
                var item = data.result[i];
                series.push([
                    i, ((item.upload + item.download) / window.MEGABYTE)
                ]);
                ticks.push([
                    i, item.website
                ]);
            }

            $.plot($("#all"), [
                {
                    label: "Top Users",
                    data: series,
                    bars: {
                        show: true,
                        barWidth: 0.5,
                        align: "center"
                    }
                }
            ], {xaxis: {
                ticks: ticks
            }, grid: { borderWidth: 1, borderColor: '#ccc'}});


            $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
            window.setupDatatables();
        });
        {% endif %}
    </script>
    <script>
        {% if filter_mac %}
        $.getJSON("/device/analytics/transfer/device/{{ filter_mac }}/{{ filter_ip }}/websites", function (data) {
            var series = [];
            var ticks = [];
            for (var i = 0; i < data.result.length && i < 10; i++) {
                var item = data.result[i];
                series.push([
                    i, ((item.upload + item.download) / window.MEGABYTE)
                ]);
                ticks.push([
                    i, item.website
                ]);
            }

            $.plot($("#all"), [
                {
                    label: "Top Users",
                    data: series,
                    bars: {
                        show: true,
                        barWidth: 0.5,
                        align: "center"
                    }
                }
            ], {xaxis: {
                ticks: ticks
            }, grid: { borderWidth: 1, borderColor: '#ccc'}});


            $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
            window.setupDatatables();
        });
        {% endif %}
    </script>
    <script>
        {% if filter_user %}
        $.getJSON("/device/analytics/transfer/user/{{ filter_user }}/websites", function (data) {
            var series = [];
            var ticks = [];
            for (var i = 0; i < data.result.length && i < 10; i++) {
                var item = data.result[i];
                series.push([
                    i, ((item.upload + item.download) / window.MEGABYTE)
                ]);
                ticks.push([
                    i, item.website
                ]);
            }

            $.plot($("#all"), [
                {
                    label: "Top Users",
                    data: series,
                    bars: {
                        show: true,
                        barWidth: 0.5,
                        align: "center"
                    }
                }
            ], {xaxis: {
                ticks: ticks
            }, grid: { borderWidth: 1, borderColor: '#ccc'}});


            $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
            window.setupDatatables();
        });
        {% endif %}
    </script>

{% endblock %}