{% extends "device_layout.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("status");

            render_metric("firewall.transfer.persec", "#transfer", function(value){
                return value / window.MEGABIT;
            });

            render_metric("firewall.conntracker.tcp.size", "#connections");
            render_metric("system.vsize", "#memory", function(value){
                return value / window.MEGABYTE;
            });
            render_metric("firewall.arp.size", "#devices");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device">Status</a></li>
                <li><a href="#" class="last">Performance</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Monitor Performance
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown"> </div>
        </div>
    </div>

    <div class="aheading">
        <span>Transfer Rate in Mbit/s</span>
    </div>
    <br>
    <div class="abody">
        <div id="transfer" style="width:98%; height: 150px;"></div>
    </div>


    <div class="aheading">
        <span>Active Connections over Time</span>
    </div>
    <br>
    <div class="abody">
        <div id="connections" style="width:98%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Memory over Time in Mbytes</span>
    </div>
    <br>
    <div class="abody">
        <div id="memory" style="width:98%; height: 150px;"></div>
    </div>

    <div class="aheading">
        <span>Active Devices over Time</span>
    </div>
    <br>
    <div class="abody">
        <div id="devices" style="width:98%; height: 150px;"></div>
    </div>

{% endblock %}