{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("users");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device">Configuration</a></li>
            <li><a href="#" class="last">Persisted Sessions</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage persisted user sessions
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>
        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>
<div id="users">
    <div class="aheading">
        <span>All Persisted Sessions</span>
    </div>
    <br>

    <div class="abody">
        <form method="POST" action="/device/configuration/sessions/persist">
            <table id="persistedSessions" class="list border filtered export paging">
                <thead>
                <th>Username</th>
                <th>Hardware Mac Address</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for session in persisted_sessions %}
                <tr>
                    <td>{{session.user| safe}}</td>
                    <td>{{session.hw| safe}}</td>
                    <td>
                        <a href="/device/configuration/sessions/persist/{{session.user | safe}}/{{session.hw|safe}}/remove">Forget</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <td>
                    <select name="username">
                        {% for user in available_users %}
                        <option value="{{user.username}}">{{user.username}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input name="hw" type="text"/></td>
                <td>
                    <input type="submit" value="Add">
                </td>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<script>
    $(function(){
        window.setupDatatables();
    });
</script>

{% endblock %}