{% extends "device_layout.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("configuration");
             window.setupDatatables();
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/general">Configuration</a></li>
                <li><a href="#" class="last">Snapshots</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configuration snapshots allow you to save your device configuration at any point in time, and later restore configuration to this point.
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>


    <div class="aheading">
        <span>Create a new Snapshot</span>
    </div>
    <br>

    <div class="abody">
        <form method="POST">
            <div class="aformgroup">
                <span class="aformlabel">Description</span>

                <div class="aformcontent">
                    <textarea name="description"></textarea>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel"></span>

                <div class="aformcontent">
                    <input type="submit" value="Create Snapshot"/>
                </div>
            </div>
        </form>
    </div>
    <div class="aheading">
        <span>Saved snapshots</span>
    </div>
    <br>

    <div class="abody">
        <table class="list border filtered export paging">
            <thead>
            <th>Time</th>
            <th>Account</th>
            <th>Description</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for snapshot in snapshots %}
                <tr>
                    <td class="datetimedecorator">{{ snapshot.created }}</td>
                    <td>{{ snapshot.account }}</td>
                    <td>{{ snapshot.description }}</td>
                    <td>
                        <a href="/device/configuration/snapshots/{{ snapshot.id }}/restore">Restore Snapshot</a> |
                        <a href="/device/configuration/snapshots/{{ snapshot.id }}/view">View Configuration</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}