{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("users");

            $("#save-button").click(function () {
                $("form:first").submit();
            });


        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/events">Configuration</a></li>
                <li><a href="/device/configuration/authentication">Authentication</a></li>
                <li><a href="#" class="last">Windows WMI</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Adjust authentication and capture portal options
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save</a>
        </div>
    </div>

    <form id='form' method=POST>

        <div class="aheading">
            <span>Windows WMI Authentication</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Username</span>

                <div class="aformcontent">
                    <input type=text name=wmic_username value="{{ wmic_username }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Password</span>

                <div class="aformcontent">
                    <input type=text name=wmic_password value="{{ wmic_password }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Domain</span>

                <div class="aformcontent">
                    <input type=text name=wmic_domain value="{{ wmic_domain }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Host</span>

                <div class="aformcontent">
                    <input type=text name=wmic_host value="{{ wmic_host }}"/>
                </div>
            </div>
        </div>
        <br>

        <div class="aheading">
            <span>Advanced Options</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Event Type ID</span>

                <div class="aformcontent">
                    <input type=text name=wmic_eventid value="{{ wmic_eventid }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Username Attribute</span>

                <div class="aformcontent">
                    <input type=text name=wmic_username_attribute value="{{ wmic_username_attribute }}"/>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Host Attribute</span>

                <div class="aformcontent">
                    <input type=text name=wmic_host_attribute value="{{ wmic_host_attribute }}"/>
                </div>
            </div>
        </div>
    <hr>
    </form>

{% endblock %}