{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("firewall");
    })
</script>

<script>
    $(document).ready(function(){
        $("#form").validate({
            errorPlacement:function(error,element){
                error.appendTo(element.parent("span").next("div"));
            },

            debug:true,
            wrapper:"li",
            submitHandler:function(){
                form.submit();
            },
            rules:{
                name:{required:true},
            },

            messages:{
                name:"A name is required",
            }
        });
    })

    function changeDetailPlaceholder(){
        var value=$('#source').val();
        if(value==-1){
            $('#detail').css('display','none');
        }else{
            $('#detail').css('display','inline');
            $('#detail').attr('placeholder','');
        }
    }

    $(document).ready(function(){
        changeDetailPlaceholder();
    });

</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Alias and Pools</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Manage and create aliases/pools in the system. An alias or pool is a named group of ip addresses.
        These can then be used in firewall rules and other places.<br>
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a id="operationbutton" class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<br>
<div class="aheading">
    <span>Aliases and Pools</span>
</div>
<br>

<div class="abody">
    <form method="POST">
        <table class="list border export filtered" id="aliases">
            <thead>
            <th>Pool Name</th>
            <th>Description</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for alias in aliases %}
            <tr>
                <td><a href="/device/firewall/aliases/{{alias.id | safe}}">{{alias.name | safe}}</a></td>
                <td>{{alias.description| safe}}</td>
                <td><a href="/device/firewall/aliases/{{alias.id | safe}}/delete">Delete</a>
                    <a href="/device/firewall/aliases/{{alias.id | safe}}/sync">Sync</a></td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan=2>
                    <input name=name size=30 class='validate' placeholder='Enter a name...'>
                    <select id='type' name='type'>
                        <option value=0>IP Range List</option>
                        <option value=1>IP Subnet List</option>
                        <option value=2>Website List</option>
                        <option value=3>Wildcard String List</option>
                    </select>

                    <select id='source' name='source' onchange='changeDetailPlaceholder();'>
                        <option value=-1>Manual List</option>
                        <option value=0>Dns Hostname</option>
                        <option value=1>Remote list from url</option>
                    </select>

                    <input id='detail' name='detail' size=50 class='validate'
                           placeholder='Optional: Enter a url or file to load list from'>
                </td>
                <td><input type=submit value=create></td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

<script>
    $(function(){
        window.setupDatatables();
    });
</script>

{% endblock %}