{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("firewall");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Periods</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage timeperiods in the system
    </div>
</div>

<div id="acls">
    <div class="aheading">
        <span>Periods</span>
    </div>
    <br>

    <div class="abody">
        <form method="POST">
        <table class="list noresultstable paddingtop border">
            <thead>
            <th>Name</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for period in periods %}
            <tr>
                <td>
                    <a href="/device/firewall/periods/{{period.id}}">{{period.name}}</a>
                </td>
                <td class="darkbackground">
                    <a href="/device/firewall/periods/{{period.id}}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <td><input name="name"></td>
                <td><input value="Add Period" type="submit"></td>
            </tfoot>
        </table>
        </form>
    </div>
</div>

<script>
    $(function(){
        window.setupDatatables();
    });
</script>
{% endblock %}