{% extends "device_layout.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("network");

        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Network</a></li>
                <li><a href="/device/network/devices">Network Devices</a></li>
                <li><a href="/device/network/devices/{{ device.interface }}">Edit {{ device.interface | safe }}</a></li>
                <li><a href="" class="last">Dhcp Leases</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure DHCP Static Leases
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
                <ul>
                    <li>
                        <a href="/device/network/devices/publish">Publish Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#form1").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("div"));
                },

                rules: {
                    ip: {ipv4: true, required: true},
                    mac: {macAddress: true, required: true}
                },

                messages: {
                },

                submitHandler: function () {
                    form1.submit();
                },
            });
        });
    </script>

    <div id="details">
        <div class="aheading">
            <span>Static Leases</span>
        </div>
        <br>

        <div class="abody">
            <form id="form1" method="POST">
                <table id="users" class="list border">
                    <thead>
                    <th>Mac Address</th>
                    <th>Static Ip Address</th>
                    <th>Operations</th>
                    </thead>
                    <tbody>
                    {% for lease in device.dhcpServerLeases %}
                        <tr>
                            <td>
                                {{ lease.mac }}
                            </td>
                            <td>
                                {{ lease.ip }}
                            </td>
                            <td>
                                <a href="/device/network/devices/{{ device.interface }}/leases/delete/{{ lease.ip }}/{{ lease.mac }}">Remove Lease</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <td><input name="mac" type="text"></td>
                    <td><input name="ip" type="text"></td>
                    <td><input type="submit" value="Create Lease"></td>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
{% endblock %}