{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configuration");

            $("#save-button").click(function () {
                $("form:first").submit();
            });

        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/general">Configuration</a></li>
                <li><a href="#" class="last">Watchdog</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure your device to watch over your network for issues and trends
        </div>

        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save</a>
        </div>
    </div>

    <div class="aheading">
        <span>Connectivity Monitoring</span>
    </div>
    <div class="abody">
        <div class="block">
            <form id="form" class="form-horizontal" method=POST>
                <div class="aformgroup">
                    <span class="aformlabel">
                        Google Ping Test
                    </span>

                    <div class="aformcontent">
                        <input type="checkbox" name="monitorGoogle" {% if monitorGoogle %} CHECKED {% endif %}>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}