{% extends "device_reporting.html" %}
{% block reporting %}
    <script>
        $(function () {
            window.setTab("reporting");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        })
    </script>
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/">Reporting</a></li>
            <li><a href="/">Applications</a></li>
            {% if type_description %}
            <li><a href="/">{{ type_description.name }}</a></li>
            {% endif %}

            {% if not type_description %}
            <li><a href="/">{{ item }}</a></li>
            {% endif %}
        </ul>

        <span id="dateselector"></span>
    </div>
    <div id="banner-description">
    </div>
    <div class="tables">

        <div class="aheading"><span>Breakdown of users</span></div>
        <br>

        <div class="abody">
            <table class="list border filtered export paging newdatatable" id="users" data-sortby="3">
                <thead class="general-title">
                <th><b>User</b></th>
                <th class="numberSort"><b>Upload (in Megabytes)</b></th>
                <th class="numberSort"><b>Download (in Megabytes)</b></th>
                <th class="numberSort"><b>Total (in Megabytes)</b></th>
                </thead>

                <tbody id="userbreakdownbody">
                <script id="tabletemplate" type="text/x-jquery-tmpl">
                    <tr>
                        <td>
                        <span title="${type_description}"><b>${user}</b></span>
                        </td>
                        <td class="right-align amountspace amountdecorator">${upload}</td>
                        <td class="left-align amountspace amountdecorator">${download}</td>
                        <td class="right-align amountspace amountdecorator">${upload + download}</td>
                    </tr>



                </script>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>

        <br>
        <div class="aheading"><span>Breakdown of devices</span></div>
        <br>

        <div class="abody">
            <table class="list border filtered export paging newdatatable" id="devices" data-sortby="3">
                <thead class="general-title">
                <th><b>Mac</b></th>
                <th><b>Ip</b></th>
                <th class="numberSort"><b>Upload (in Megabytes)</b></th>
                <th class="numberSort"><b>Download (in Megabytes)</b></th>
                <th class="numberSort"><b>Total (in Megabytes)</b></th>
                </thead>

                <tbody id="devicebreakdownbody">
                <script id="tabletemplate2" type="text/x-jquery-tmpl">
                    <tr>
                        <td>
                        <span title="${mac}"><b>${mac}</b></span>
                        </td>
                        <td>
                        <span title="${ip}"><b>${ip}</b></span>
                        </td>
                        <td class="right-align amountspace amountdecorator">${upload}</td>
                        <td class="left-align amountspace amountdecorator">${download}</td>
                        <td class="right-align amountspace amountdecorator">${upload + download}</td>
                    </tr>



                </script>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

    <script>
        var users_complete = false;
        var devices_complete = false;
        function finish(){
            if(users_complete && devices_complete){
                window.setupDatatables();
            }
        }

        $.getJSON("/device/analytics/transfer/types/{{ item }}/users", function (data) {
            $("#tabletemplate").tmpl(data.result).appendTo("#userbreakdownbody");
            users_complete = true;
            finish();
        });

        $.getJSON("/device/analytics/transfer/types/{{ item }}/devices", function (data) {
            $("#tabletemplate2").tmpl(data.result).appendTo("#devicebreakdownbody");
            devices_complete = true;
            finish();
        });
    </script>

{% endblock %}