{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("firewall");
        window.setupDatatables();
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/firewall/filtering">Firewall</a></li>
            <li><a href="#" class="last">Forwarding Rules</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View and manage port forwarding in the system
    </div>

    <div class="rightbuttons">
        <a href="/device/firewall/forwarding/edit" class="btn"><i class="icon-plus"></i> Create a rule</a>
    </div>
</div>

<div id="acls">
    <div class="aheading">
        <span>Port Fowarding</span>
    </div>
    <br>

    <div class="abody">
        <table class="list noresultstable paddingtop border">
            <thead>
            <th></th>
            <th>Criteria</th>
            <th>Forward to</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for rule in forwarding_rules %}
            <tr>
                <td>
                    {% if not rule.enabled %}
                    <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/forwarding/{{rule.id}}/enable'>
                        <input type=checkbox name=enabled onchange='submit();'/>
                    </form>
                    {% endif %}

                    {% if rule.enabled %}
                    <form STYLE='margin: 0px; padding: 0px;' method='post' action='/device/firewall/forwarding/{{rule.id}}/disable'>
                        <input type=checkbox name=enabled CHECKED onchange='submit();'/>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {{ rule.string }}
                </td>
                <td>
                    forward to {{rule.forwardingDestination}}
                    {% if rule.forwardingDestinationPort != -1 and rule.forwardingDestinationPort %}
                    port {{rule.forwardingDestinationPort}}
                    {% endif %}
                </td>
                <td class="darkbackground">
                    <a href="/device/firewall/forwarding/edit/{{rule.id}}">Edit</a>
                    <a href="/device/firewall/forwarding/{{rule.id}}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}