{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("configuration");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/configuration/general">Configuration</a></li>
            <li><a href="/device/configuration/events">Event Handling</a></li>
            <li><a href="#" class="last">Configure</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Configure event handler
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<div class="aheading">
    <span>Event Handler Configuration</span>
</div>
<br>
<div class="abody">
    <form method="POST">
        {% if handler.handler == 'handler.email' %}
        <div class='aformgroup'><span class='aformlabel'>Email Recipient</span>
            <div class='aformcontent'><input name=email type=text value='{{handler.email}}' /></div>
        </div>
        {% endif %}

        {% if handler.handler == 'handler.groups.add' or handler.handler == 'handler.groups.remove' %}
        <div class='aformgroup'><span class='aformlabel'>Group</span>
            <div class='aformcontent'>
            <select name="groupid">
                {% for group in groups %}
                    <option {% if handler.groupid == group.id %} SELECTED {% endif %} value='{{group.id}}'>{{group.name}}</option>
                {%endfor%}
            </select>

            </div>
        </div>
        {% endif %}
        <input type="submit"/>
    </form>

</div>

{% endblock %}