{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("network");
        })
    </script>


    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Network</a></li>
                <li><a href="/device/network/vpn" class="last">Vpn Servers</a></li>
                <li><a href="#" class="last">Create Instance</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Manage vpn servers and gateway connections.
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>
    <div>
        <div class="aheading">
            <span>Create openvpn tls server instance</span>
        </div>
        <br>

        <div class="abody">
            <form id="form1" name="form1" method=POST>
                <div class="aformgroup">
                    <span class="aformlabel">Country:</span>

                    <div class="aformcontent">
                        <input name="certcountry" value="US">
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">Province:</span>

                    <div class="aformcontent">
                        <input name="certprovince" value="CA">
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">City Name:</span>

                    <div class="aformcontent">
                        <input name="certcity" value="SanFrancisco">
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">Organisation Name:</span>

                    <div class="aformcontent">
                        <input name="certorg" value="Fort-Funston">
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel">Contact Email:</span>

                    <div class="aformcontent">
                        <input name="certemail" value="jack@sphirewall.net">
                    </div>
                </div>
                <div class="aformgroup">
                    <span class="aformlabel"></span>

                    <div class="aformcontent">
                        <input type=submit id="submit" value="Save and Install">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}