{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("firewall");
            window.setupDatatables();
            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <style>
        .bubble {
            background-color: whitesmoke;
            border-radius: 3px;
            padding: 5px;
            display: inline-table;
            margin-right: 5px;
        }
    </style>
    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/firewall/filtering">Firewall</a></li>
                <li><a href="#" class="last">Wan Interfaces</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure WAN interface Source Network Address Translation
        </div>
        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save Configuration</a>
        </div>

    </div>

    <div id="acls">
        <div class="alert">
            <span class="message"><b>Note:</b> You can configure more complex SNAT rules using the <a href="/device/firewall/masquerading/advanced">Advanced SNAT</a> tool.</span>
        </div>
        <div class="aheading">
            <span>Automatic Wan Masquerading</span>
        </div>

        <br>
        <script>
            $(function () {
                $("#add_device").click(function () {
                    var value = $("#device_configuration").val();
                    var items = jQuery.parseJSON(value);
                    //Check that this device is not already there
                    for (var i = 0; i < items.length; i++) {
                        if (items[i].interface == $("#devices").val()) {
                            items[i].failover_index = parseInt($("#priority").val());
                            $("#device_configuration").val(JSON.stringify(items));
                            window.interfaces();

                            return;
                        }
                    }

                    items.push({"interface": $("#devices").val(), "failover_index": parseInt($("#priority").val())});

                    $("#device_configuration").val(JSON.stringify(items));
                    window.interfaces();
                });

                window.remove_device = function (remove) {
                    var value = $("#device_configuration").val();
                    var items = jQuery.parseJSON(value);

                    var new_items = [];
                    for (var i = 0; i < items.length; i++) {
                        if (items[i].interface != remove) {
                            new_items.push(items[i]);
                        }
                    }
                    $("#device_configuration").val(JSON.stringify(new_items));
                    window.interfaces();
                };

                window.interfaces = function () {
                    var value = $("#device_configuration").val();
                    var items = jQuery.parseJSON(value);

                    var markup = "";
                    for (var i = 0; i < items.length; i++) {
                        markup += "<div class='bubble'><span>" + items[i].interface + " priority " + items[i].failover_index + " </span><a href='#' onclick='window.remove_device(\"" + items[i].interface + "\");'><i class='icon-minus'></i></a></div>";
                    }

                    $("#active_devices").html(markup);
                };

                window.interfaces();

                $("#mode").val('{{ autowan.mode }}');
            });

        </script>

        <form id="form" method=POST>
            <textarea hidden id="device_configuration" name="device_configuration">{{ autowan.device_configuration }}</textarea>

            <div class="abody">
                <div class='aformgroup'><span class='aformlabel'>Mode:</span>

                    <div class='aformcontent'>
                        <select name="mode" id="mode">
                            <option value="-1">Disabled</option>
                            <option value="0">Single Wan Interface</option>
                            <option value="1">MultiPath Load Balancing</option>
                            <option value="2">Wan Failover</option>
                        </select>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Devices:</span>

                    <div class='aformcontent' id="active_devices">
                    </div>
                </div>
            </div>
            <br>

            <div class="aheading">
                <span>Add device to pool</span>
            </div>
            <div class="abody">
                You can add any interface to the wan pool here.

                <div class='aformgroup'>
                    <br>
                    <span class='aformlabel'>Add Device:</span>

                    <div class='aformcontent'>
                        <select id="devices" name="devices">
                            <option></option>
                            {% for device in devices %}
                                <option value="{{ device.interface }}">{{ device.interface }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class='aformgroup'><span class='aformlabel'>Priority:</span>

                    <div class='aformcontent'>
                        <select id="priority" name="priority">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                        </select>
                    </div>
                </div>

                <div class='aformgroup'>
                    <span class='aformlabel'></span>

                    <div class='afor'>
                        <a href="#" id="add_device">Add to pool</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}