{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("firewall");
    })
</script>


<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/firewall/filtering">Firewall</a></li>
            <li><a href="/device/firewall/signatures">Signatures</a></li>
            <li><a href="#" class="last">Add</a></li>
        </ul>
    </div>
    <div id="banner-description">
        Create or edit application layer signatures
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<form id="form" method=POST>
    <div class="aheading" data-for="sourceInfo">
        <span>Details</span>
    </div>
    <div class="abody" id="sourceInfo">
        <div class="aformgroup">
        <span class="aformlabel">
            Name
        </span>

            <div class="aformcontent">
                <input value="{{signature.name}}" id="name" name="name" size=15 value='' class='validate' placeholder="Name"/>
            </div>
        </div>

        <div class="aformgroup">
        <span class="aformlabel">
            Description
        </span>

            <div class="aformcontent">
                <input value="{{signature.description}}" id="description" name="description" size=15 value='' class='validate' placeholder="Description"/>
            </div>
        </div>

        <div class="aformgroup">
        <span class="aformlabel">
            Expression
        </span>

            <div class="aformcontent">
                <textarea name="expression" id="expression" value="{{ signature.expression }}">{{ signature.expression }}</textarea>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel"></span>

            <div class="aformcontent">
                <input class=submit type=submit value='Create Rule'>
            </div>
        </div>
    </div>
</form>

{% endblock %}