{% extends "device_layout.html" %}
{% block content %}
<script>
    $(function(){
        window.setTab("users");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/configuration/general">Configuration</a></li>
            <li><a href="#" class="last">Users and People</a></li>
        </ul>
    </div>
    <div id="banner-description">
        View active user accounts
    </div>
    <div id="banner-menu" class="optionsmenu">
        <a class="operations" href="#">Actions</a>

        <div id="dropdownmenu" class="dropdown">
        </div>
    </div>
</div>

<div class="aheading">
    <span>User accounts</span>
</div>
<br>
<div class="abody">
    <script>
        $(document).ready(function(){
            $("#form").validate({
                errorPlacement:function(error,element){
                    error.appendTo(element.parent("td"));
                },

                wrapper:"li",
                submitHandler:function(){
                    form.submit();
                },

                rules:{
                },

                messages:{
                }
            });
        });
    </script>

    <form id="form" method='POST'>
        <table id="users" class="list border filtered export paging">
            <thead>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for user in users -%}
            <tr>
                <td><a href="/device/configuration/users/{{user.username}}">{{user.username}}</a></td>
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td><a href="/device/configuration/users/delete/{{user.username}}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <td>
                    <input title="User name.  Must not contain whitespace."
                        id='name' name='username' class='validate nowhitespace'
                        size='30'
                        placeholder='Username'/>
                </td>
                <td></td>
                <td></td>
                <td><input id='submit' type='submit' value="Add User"></td>
            </tfoot>
        </table>
    </form>
</div>
<script>
    $(function(){
        window.setupDatatables();
    });
</script>

{%endblock %}
