{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        });
    </script>


    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device">Status</a></li>
                <li><a href="#" class="last">Active Clients</a></li>
            </ul>
            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            View active network users
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>
    <div id="users">
        <div class="aheading">
            <span>Active users over time</span>
        </div>
        <br>

        <div class="abody">
            <div id="chart_div" style="width: 99%; height: 150px;"></div>
        </div>


        <div class="aheading">
            <span>Currently active users</span>
        </div>
        <br>

        <div class="abody">
            <table id="activeusers" class="list border filtered export paging">
                <thead>
                <th>Username</th>
                <th>Host</th>
                <th>Hardware Mac Address</th>
                <th>Login Time</th>
                <th>Operations</th>
                </thead>

                <tbody id="activeusersbody">
                <script id="activeuserstemplate" type="text/x-jquery-tmpl">
                    <tr>
                        <td><a href="/device/status/reporting/users/${user}">${user}</a></td>
                        <td>${host}</td>
                        <td><a href="/device/status/reporting/address/${hw}/-">${hw}</a></td>
                        <td class="datetimedecorator">${loginTime}</td>
                        <td>
                            <a href="/device/status/clients/disconnect/${host}">Disconnect</a>&nbsp;
                        </td>
                    </tr>



                </script>
                </tbody>
            </table>
        </div>

        <script>
            $.getJSON("/device/analytics/clients", function (data) {
                $("#activeuserstemplate").tmpl(data.result.users).appendTo("#activeusersbody");
                window.setupDatatables();
            });

            function render_host_over_time_graph(data) {
                var graphed_active_hosts = [];
                for (var i = 0; i < data.length; i++) {
                    graphed_active_hosts.push([new Date(data[i].time * 1000), data[i].value]);
                }

                $.plot($('#chart_div'), [
                    {label: 'Active Users', data: graphed_active_hosts}
                ], {
                    xaxis: {mode: 'time'}, lines: {fill: true}, grid: { borderWidth: 1, borderColor: '#ccc'}
                });

            }

            $.getJSON("/device/analytics/metrics/sessiondb.size", function (dataset) {
                render_host_over_time_graph(dataset.result);
            });

        </script>

{% endblock %}