{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configuration");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/general">Configuration</a></li>
                <li><a href="#" class="last">Event Handling</a></li>
            </ul>

            <div class="rightbuttons">
                <a class="btn" href="/device/configuration/events/add"><i class="icon-plus"></i> Add Alert</a>
            </div>
        </div>
        <div id="banner-description">
            Adjust event handling and alerting configuration
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <br>
    <div id="events">
        <div id="general">

            <div class="aheading">
                <span>Device Settings</span>
            </div>
            <br>

            <div class="abody">
                <form id='form' method=POST>
                    <div class="aformgroup">
                    <span class="aformlabel">
                        Event Logging
                    </span>

                        <div class="aformcontent">
                            <input {% if logging %} CHECKED {% endif %} class="validate" name="log" type="checkbox"/>
                        </div>
                    </div>
                    <div class="aformgroup">
                    <span class="aformlabel">
                        Ids Events
                    </span>

                        <div class="aformcontent">
                            <input title="Block source host when IDS event is caught." {% if ids %} CHECKED {% endif %} class="validate" name="ids" type="checkbox"/>
                        </div>
                    </div>
                    <div class="aformgroup">
                    <span class="aformlabel">
                    </span>

                        <div class="aformcontent">
                            <input type="submit" value="Save Configuration"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}