{% extends "device_layout.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("network");
        })
    </script>


    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Network</a></li>
                <li><a href="#" class="last">Network Devices</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Configure individual network devices
        </div>

        <div class="rightbuttons">
            <a href="/device/network/devices/create" class="btn" id="add-device">
                <icon class="icon-plus"></icon>
                Add Device</a>
            <a href="/device/network/devices/save" class="btn">
                <icon class="icon-refresh"></icon>
                Persist Device Configuration</a>
        </div>
    </div>

    <div class="aheading">
        <span>Visible Network Devices</span>
    </div>
    <br>

    <div class="abody">
        <table id="users" class="list border">
            <thead>
            <th>Name</th>
            <th>Type</th>
            <th>Ip</th>
            <th>Hw</th>
            <th>State</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for device in devices %}
                <tr>
                    <td>
                        <a href="/device/network/devices/{{ device.interface }}">{{ device.name }} {{ device.interface }}</a>
                    </td>
                    <td>
                        {% if device.bridge %}
                            BRIDGE
                        {% endif %}
                        {% if device.vlan %}
                            VLAN
                        {% endif %}
                        {% if device.lacp %}
                            LACP
                        {% endif %}
                        {% if not device.bridge and not device.vlan and not device.lacp%}
                            PHYSICAL
                        {% endif %}
                    </td>
                    <td>
                        {% for ip in device.ipv4 %}
                            {{ ip.ip }}/{{ ip.mask }} {{ ip.bcast }}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {{ device.mac }}
                    </td>
                    <td>
                        {% if device.state %}
                            UP
                        {% endif %}
                        {% if not device.state %}
                            DOWN
                        {% endif %}
                    </td>
                    <td>
                        {% if device.state %}
                            <a href="/device/network/devices/{{ device.interface }}/down">Bring Down</a>
                        {% endif %}
                        {% if not device.state %}
                            <a href="/device/network/devices/{{ device.interface }}/up">Bring Up</a>
                        {% endif %}
                        <a href="/device/network/devices/{{ device.interface }}/delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="aheading">
        <span>Static Routing Table</span>
    </div>
    <br>

    <div class="abody">
        <script>
            $(document).ready(function () {
                $("#form").validate({
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parent("td"));
                    },

                    rules: {
                        dest: {required: true, cidr: true},
                        gw: {required: true, ipv4: true},
                        device: {required: true},
                    },

                    messages: {
                    },

                    submitHandler: function () {
                        form.submit();
                    },
                });
            });
        </script>
        <form id="form" method="POST" action="/device/network/devices/routes">
            <table id="routetable" class="list border">
                <thead>
                <th>Destination</th>
                <th>Next Hop</th>
                <th>Device</th>
                <th>Operations</th>
                </thead>
                <tbody>
                {% for route in routes %}
                    <tr>
                        <td>
                            {% if route.destination %}
                                {{ route.destination }}/{{ route.destination_cidr }}
                            {% endif %}
                        </td>
                        <td>{{ route.route_nexthop}}</td>
                        <td>{{ route.route_device}}</td>
                        <td><a href="/device/network/devices/routes/del/{{ route.id }}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <td><input placeholder="Destination" class='validate' id='destination' name=destination>/<input size="2" placeholder="Cidr" class='validate' id='destination_cidr' name=destination_cidr></td>
                <td><input placeholder="Gateway" class='validate' id='route_nexthop' name=route_nexthop ></td>
                <td>
                    <select name="route_device">
                        {% for device in devices %}
                            <option value="{{ device.interface }}">{{ device.interface }}</option>
                        {% endfor %}
                    </select>
                <td><input type=submit value='Add Route'></td>
                </tfoot>
            </table>
        </form>
    </div>
{% endblock %}