{% extends "device_layout.html" %}
{% block content %}

    <script>
        $(function () {
            window.setTab("configuration");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/general">Configuration</a></li>
                <li><a href="/device/configuration/snapshots" class="last">Snapshots</a></li>
            </ul>
        </div>
        <div id="banner-description">
            View configuration snapshot
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <div class="aheading">
        <span>Raw Snapshot Configuration</span>
    </div>

    <div class="abody" style="height:800px; overflow: scroll">
    <pre>
        {{ snapshot.snapshot |safe}}
        </pre>
    </div>
{% endblock %}