{% extends "device_reporting.html" %}
{% block reporting %}
    <script>
        $(function () {
            window.setTab("reporting");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        })
    </script>
    <div id="banner-breadcrumb">
            <ul>
                <li><a href="/">Reporting</a></li>

                {% if filter_user %}
                    <li><a href="/device/status/reporting/users" class="last">Users</a></li>
                    <li><a href="/device/status/reporting/users/{{ filter_user }}" class="last"></a>'{{ filter_user }}'</li>
                {% endif %}

                {% if filter_mac %}
                    <li><a href="/device/status/reporting">Reporting</a></li>
                    <li><a href="/device/status/reporting/address" class="last">Devices</a></li>
                    <li><a href="/device/status/reporting/address/{{ filter_mac }}/{{ filter_ip }}" class="last"></a>'{{ filter_mac | safe }}/{{ filter_ip| safe }}'</li>
                {% endif %}

                <li><a href="/">Applications</a></li>
            </ul>

            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            A breakdown of network traffic based on layer 7 application categorisation.
        </div>
    <br>
    <div class="tables">
        <div class="aheading"><span>Breakdown by Application Types</span></div>
        <br>

        <div class="abody">
            <table class="list border filtered export paging newdatatable" id="addresses" data-sortby="3">
                <thead class="general-title">
                <th><b>Application Type</b></th>
                <th class="numberSort"><b>Upload (in Megabytes)</b></th>
                <th class="numberSort"><b>Download (in Megabytes)</b></th>
                <th class="numberSort"><b>Total (in Megabytes)</b></th>
                </thead>

                <tbody id="websitebody">
                <script id="tabletemplate" type="text/x-jquery-tmpl">
                    <tr>
                        <td>
                        <span title="${type_description}"><a href="/device/status/reporting/types/${type_port}">${type_name}</a></span>
                        </td>
                        <td class="right-align amountspace amountdecorator">${upload}</td>
                        <td class="left-align amountspace amountdecorator">${download}</td>
                        <td class="right-align amountspace amountdecorator">${upload + download}</td>
                    </tr>


                </script>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

    <script>
        {% if not filter_mac and not filter_user %}
            $.getJSON("/device/analytics/transfer/types", function (data) {
                $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
                window.setupDatatables();
            });
        {% endif %}

        {% if filter_mac %}
            $.getJSON("/device/analytics/transfer/device/{{ filter_mac }}/{{ filter_ip }}/types", function (data) {
                $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
                window.setupDatatables();
            });
        {% endif %}

        {% if filter_user %}
            $.getJSON("/device/analytics/transfer/user/{{ filter_user }}/types", function (data) {
                $("#tabletemplate").tmpl(data.result).appendTo("#websitebody");
                window.setupDatatables();
            });
        {% endif %}
    </script>

{% endblock %}