{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("status");
            inject_date_picker("dateselector", "{{ params.startDate }}", "{{ params.endDate }}");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device">Status</a></li>
                <li><a href="#" class="last">Active Connections</a></li>
            </ul>
            <span id="dateselector"></span>
        </div>
        <div id="banner-description">
            View all connections being tracked
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

        <div class="aheading">
        <span>Quick Metrics</span>
    </div>
    <br>

    <style>
    </style>

    <div class="abody">
        <div class="pill">
            <div class="pill-title"> <a href="/device/status/connections/states"><icon class="icon-zoom-in"></icon></a> Connections</div>
            <div class="pill-metric" id="states">-</div>
        </div>
        <div class="pill">
            <div class="pill-title">Unique Devices</div>
            <div class="pill-metric" id="noUniqueDevices">-</div>
        </div>
        <div class="pill">
            <div class="pill-title"> Top Protocol/Service</div>
            <div id="topProtocol" class="pill-metric">-</div>

        </div>
        <div class="pill">
            <div class="pill-title"> Top Source Host</div>
            <div class="pill-metric" id="topSourceHost">-</div>
        </div>
        <div class="pill">
            <div class="pill-title"> Top Destination</div>
            <div class="pill-metric" id="topDestinationHost">-</div>
        </div>
    </div>
    <br>
    <div class="aheading">
        <span>Number of tracked connections over time</span>
    </div>
    <br>

    <div class="abody">
        <div id="chart_div" style="width: 99%; height: 150px;"></div>
    </div>
    <br>

    <br>
    <div class="aheading">
        <span>Current Connections</span>
    </div>
    <br>
    <div class="abody">
        <table class="list border filtered export paging newdatatable" id="addresses">
            <thead class="general-title">
            <th>Source</th>
            <th>Destination</th>
            <th>Type</th>
            <th>User</th>
            <th>State</th>
            <th>Operations</th>
            </thead>

            <tbody id="connectionsbody">
            <script id="tabletemplate" type="text/x-jquery-tmpl">
                    <tr>
                        <td>${sourceIp} : ${sourcePort}</td>
                        <td>${destIp} : ${destPort}</td>
                        <td>${protocolString}</td>
                        <td>${user}</td>
                        <td>${state}</td>
                        <td>
                            <a href="/device/status/connections/terminate/${sourceIp}/${sourcePort}/${destIp}/${destPort}">Terminate Connection</a>
                        </td>
                    </tr>








            </script>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <script>
            var tcp_data_points = undefined;
            var udp_data_points = undefined;
            var icmp_data_points = undefined;

            function generate_graphs() {
                if (tcp_data_points != undefined && udp_data_points != undefined && icmp_data_points != undefined) {
                    var graphed_tcp_data_points = [];
                    var graphed_udp_data_points = [];
                    var graphed_icmp_data_points = [];

                    // We make a dangerous assumption that we have the same number of datapoints in each structure
                    for (var i = 0; i < tcp_data_points.length; i++) {
                        graphed_tcp_data_points.push([new Date(tcp_data_points[i].time * 1000), tcp_data_points[i].value]);
                        graphed_udp_data_points.push([new Date(udp_data_points[i].time * 1000), udp_data_points[i].value]);
                        graphed_icmp_data_points.push([new Date(icmp_data_points[i].time * 1000), icmp_data_points[i].value]);
                    }

                    $.plot($('#chart_div'), [
                        {label: 'Tcp', data: graphed_tcp_data_points},
                        {label: 'Udp', data: graphed_udp_data_points},
                        {label: 'Icmp', data: graphed_icmp_data_points}
                    ], {
                        xaxis: {mode: 'time'}, lines: {fill: true}, grid: { borderWidth: 1, borderColor: '#ccc'}
                    });

                }
            }

            $.getJSON("/device/analytics/metrics/firewall.conntracker.tcp.size", function (dataset) {
                tcp_data_points = dataset.result;
                generate_graphs();
            });

            $.getJSON("/device/analytics/metrics/firewall.conntracker.udp.size", function (dataset) {
                udp_data_points = dataset.result;
                generate_graphs();
            });

            $.getJSON("/device/analytics/metrics/firewall.conntracker.icmp.size", function (dataset) {
                icmp_data_points = dataset.result;
                generate_graphs();
            });


            var destination_host_hits = {};
            var source_host_hits = {};
            var protocol_hits = {};
            var state_count = 0;

            $.getJSON("/device/analytics/connections", function (data) {
                for (var i = 0; i < data.result.length; i++) {
                    var item = data.result[i];
                    if (item.protocol == 6) {
                        item.protocolString = "TCP";
                    } else if (item.protocol == 17) {
                        item.protocolString = "UDP";
                    } else if (item.protocol == 1) {
                        item.protocolString = "ICMP";
                    }

                    state_count = state_count + 1;

                    function top_source_host_update(item) {
                        if (item.sourceIp in source_host_hits) {
                            source_host_hits[item.sourceIp] = source_host_hits[item.sourceIp] + 1;
                        } else {
                            source_host_hits[item.sourceIp] = 1;
                        }
                    }

                    function top_destination_host_update(item) {
                        if (item.destIp in destination_host_hits) {
                            destination_host_hits[item.destIp] = destination_host_hits[item.destIp] + 1;
                        } else {
                            destination_host_hits[item.destIp] = 1;
                        }
                    }

                    function top_protocol_hits_update(item) {
                        var key = item.protocolString + "/" + item.destPort;

                        if (key in protocol_hits) {
                            protocol_hits[key] = protocol_hits[key] + 1;
                        } else {
                            protocol_hits[key] = 1;
                        }
                    }

                    top_source_host_update(item);
                    top_destination_host_update(item);
                    top_protocol_hits_update(item);
                }

                function find_map_element(array_to_work_with) {
                    var max_key = undefined;
                    var max_value = 0;

                    $.each(array_to_work_with, function (key, value) {
                        if (value > max_value) {
                            max_key = key;
                            max_value = value;
                        }
                    });

                    return max_key;
                }

                function size_of_container(container) {
                    var size = 0;
                    $.each(container, function (key, value) {
                        size = size + 1;
                    });

                    return size;
                }

                $("#topDestinationHost").html(find_map_element(destination_host_hits));
                $("#topSourceHost").html(find_map_element(source_host_hits));
                $("#topProtocol").html(find_map_element(protocol_hits));
                $("#noUniqueDevices").html(size_of_container(source_host_hits));
                $("#states").html(state_count);

                $("#tabletemplate").tmpl(data.result).appendTo("#connectionsbody");
                window.setupDatatables();
            });
        </script>
    </div>

{% endblock %}