{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("configuration");

            $("#save-button").click(function () {
                $("form:first").submit();
            });
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/configuration/events">Configuration</a></li>
                <li><a href="#" class="last">Authentication</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Adjust authentication and capture portal options
        </div>
        <div class="rightbuttons">
            <a id="save-button" class="btn" href="#">Save</a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#form").validate({
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent("div"));
                },

                wrapper: "li",
                submitHandler: function () {
                    form.submit();
                },

                rules: {
                    session_timeout: {required: true, number: true},
                    bandwidth_port: {required: true, number: true},
                    threshold: {required: true, number: true},
                    retension: {required: true, number: true},
                    cp_url: {required: false, url2: true},
                    http_baseurl: {required: false, url2: true},

                },

                messages: {
                    session_timeout: "Please enter a valid session timeout",
                    bandwidth_port: "Please enter a valid port number",
                    threshold: "Please enter a valid number",
                    retension: "Please enter a valid number",
                    cp_url: "Please enter a valid url",
                    http_baseurl: "Please enter a valid url",
                }
            });

            $("#force_auth_sources").val([
                {% for pool in force_auth_settings.ranges %}
                    "{{pool.aliasId}}",
                {%endfor %}
            ]);

            $("#force_auth_website_exceptions").val([
                {% for pool in force_auth_settings.websites%}
                    "{{pool.aliasId}}",
                {%endfor %}
            ]);

            $("#force_auth_destination_exceptions").val([
                {% for pool in force_auth_settings.destExceptions%}
                    "{{pool.aliasId}}",
                {%endfor %}
            ]);

            $(".chosen-select").chosen();
        });
    </script>

    <form id='form' method=POST>
        <div class="aheading">
            <span>Capture Portal Options</span>
        </div>
        <div class="abody">

            <div class="aformgroup">
                <span class="aformlabel">Enabled:</span>

                <div class="aformcontent">
                    <input title="If checked, unauthenticated users will always get redirected to the login page defined above."
                           type="checkbox" name="force_login" {% if force_login %} CHECKED {% endif %}>
                </div>
            </div>

            <div class="aformgroup">
            <span class="aformlabel">
                Redirect Url:
            </span>

                <div class="aformcontent">
                    <input title="Set the capture portal login url, users that are not authenticated will be redirected to this url."
                           id="cp_url" name=cp_url size=50 value="{{ cp_url }}" class='validate'/>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Session Timeout:</span>

                <div class="aformcontent">
                    <input title="Set the authentication timeout in seconds. Idle users sessions will be removed after this period has elapsed"
                           id="session_timeout" name="session_timeout" type="text" value="{{ session_timeout }}" size="4"
                           class='validate'/>

                    <div class="aformdescription">You can also configure timeouts based on network range <a id="timeouts_link" href="/device/configuration/authentication/timeouts">here</a></div>
                </div>
            </div>
            <div class="aformgroup">
            <span class="aformlabel">
                New user group:
            </span>

                <div class="aformcontent">
                    <select name="remote_authentication_group">
                        {% for group in groups %}
                            <option
                                    {% if group.id == remote_authentication_group %} SELECTED {% endif %} value="{{ group.id |
                safe }}">{{ group.name|safe }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Included Networks:</span>

                <div class="aformcontent">
                    <select multiple class="chosen-select" data-placeholder="Source Pools"
                            name="force_auth_sources" id="force_auth_sources">
                        {% for pool in pools %}
                            {% if pool.type != 2 %}
                                <option value="{{ pool.id }}">{{ pool.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <div class="aformdescription">You can add, remove and manage Pools <a href="/device/firewall/aliases">here</a></div>
                </div>
            </div>

        </div>
        <div class="aheading">
            <span>Authentication Exceptions</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Websites:</span>

                <div class="aformcontent">
                    <select multiple class="chosen-select" data-placeholder="Website Pool" name="force_auth_website_exceptions" id="force_auth_website_exceptions">
                        {% for pool in pools %}
                            {% if pool.type == 2 %}
                                <option value="{{ pool.id }}">{{ pool.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Networks:</span>

                <div class="aformcontent">
                    <select multiple class="chosen-select" data-placeholder="Network Pool"
                            name="force_auth_destination_exceptions" id="force_auth_destination_exceptions">
                        {% for pool in pools %}
                            {% if pool.type != 2 %}
                                <option value="{{ pool.id }}">{{ pool.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="aheading">
            <span>Remote Authentication Methods</span>
        </div>

        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Ldap</span>

                <div class="aformcontent">
                    <input type=checkbox name=ldap_enabled {% if ldap_enabled %} CHECKED {% endif %} />
                    <a href="/device/configuration/general/ldap">configure</a>
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Windows WMI</span>

                <div class="aformcontent">
                    <input type=checkbox name=wmic_enabled {% if wmic_enabled %} CHECKED {% endif %} />
                    <a href="/device/configuration/authentication/wmi">configure</a>
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Unix Pam</span>

                <div class="aformcontent">
                    <input type=checkbox name=pam_enabled {% if pam_enabled %} CHECKED {% endif %} />
                </div>
            </div>

            <div class="aformgroup">
                <span class="aformlabel">Basic Http</span>

                <div class="aformcontent">
                    <input type=checkbox name='http_enabled' {% if http_enabled %} CHECKED {% endif %} />
                    <input id="http_baseurl" class="validate" type="text" placeholder="Url" size=20 name="http_baseurl"
                           value="{{ http_baseurl | safe }}">
                </div>
            </div>
        </div>
    <hr>
    </form>

{% endblock %}