{% extends "device_layout.html" %}
{% block content %}
    <script>
        $(function () {
            window.setTab("tools");
        })
    </script>

    <div id="banner">
        <div id="banner-breadcrumb">
            <ul>
                <li><a href="/device/network/devices">Tools</a></li>
                <li><a href="#" class="last">Live Ping</a></li>
            </ul>
        </div>
        <div id="banner-description">
            Ping a host from the firewall device
        </div>
        <div id="banner-menu" class="optionsmenu">
            <a class="operations" href="#">Actions</a>

            <div id="dropdownmenu" class="dropdown">
            </div>
        </div>
    </div>

    <div class="aheading">
        <span>Start Ping</span>
    </div>
    <div class="abody">
        <div class="aformgroup">
            <span class="aformlabel">
                Hostname
            </span>

            <div class="aformcontent">
                <input id="hostname" name="hostname" type="text" class="validate" size=30>
            </div>
        </div>
        <div class="aformgroup">
            <span class="aformlabel">
            </span>

            <div class="aformcontent">
                <input id="submit" type="submit" value="Start/Stop"/>
                <input id="clear" type="submit" value="Clear Results"/>
            </div>
        </div>
    </div>

    <div id="resultsdiv">
        <div class="aheading">
            <span>Result</span>
        </div>
        <style>
            .success {
                color: green !important;
            }

            .failed {
                color: red !important;
            }
        </style>

        <div class="abody">
            <div id="summarypills">
                <div class="pill"><span class="title success" id="successCount">-</span></div>
                <div class="pill"><span class="title failed" id="failCount">-</span></div>
            </div>
            <br>
            <br>

            <div id="result" style="max-height:500px; overflow: scroll" class="autoscrolling">
            </div>
        </div>
    </div>
    <script>
        var result_set = [];
        function ping() {
            $.getJSON("/device/tools/ajax/ping/" + $("#hostname").val(), function (result) {
                var row = "<div>";
                if (result.online == -1) {
                    row += "Could not resolve '" + $("#hostname").val() + "'";
                } else if (result.online == 0) {
                    row += "Could not reach '" + $("#hostname").val() + "', request timed out";
                } else {
                    row += "64 bytes from " + $("#hostname").val() + ": ttl=128 time=" + result.online + "ms</div>";
                }

                row += "</div>";
                $("#result").append(row);
                result_set.push(result.online);

                update_pills();
            });
        }

        function update_pills() {
            var successCount = 0;
            var failCount = 0;
            for (var i = 0; i < result_set.length; i++) {
                if (result_set[i] == 0 || result_set[i] == -1) {
                    failCount++;
                } else {
                    successCount++;
                }
            }

            $("#successCount").html(successCount);
            $("#failCount").html(failCount);
        }

        $(function () {
            $("#resultsdiv").hide();

            var timer = undefined;
            $("#submit").click(function () {
                $("#resultsdiv").show();
                if (timer != undefined) {
                    clearInterval(timer);
                    timer = undefined;
                } else {
                    timer = setInterval(function () {
                        ping();
                    }, 1000);
                }
            });

            $("#clear").click(function () {
                $("#resultsdiv").hide();

                $("#result").html("");
                $("#successCount").html("-");
                $("#failCount").html("-");
                result_set = [];

                clearInterval(timer);
                timer = undefined;
            });

            var div = $('div.autoscrolling');
            setInterval(function () {
                var pos = div.scrollTop();
                div.scrollTop(++pos);
            }, 20);
        });
    </script>
{% endblock %}