{% extends "device_layout.html" %}
{% block content %}

<script>
    $(function(){
        window.setTab("network");
    })
</script>

<div id="banner">
    <div id="banner-breadcrumb">
        <ul>
            <li><a href="/device/network/devices">Network</a></li>
            <li><a href="/device/network/vpn">Vpn Servers</a></li>
            <li><a href="#" class="last">Manage Server: {{vpn.name}} </a></li>
        </ul>
    </div>
    <div id="banner-description">
        Setup and configure your openvpn service
    </div>
    <div class="rightbuttons">
        {% if vpn.status == 0 %}
            <a class="btn" href='/device/network/vpn/{{vpn.name | safe}}/stop' id="stop_connection">Stop Connection</a>
        {% endif %}
        {% if vpn.status != 0 %}
            <a class="btn" href='/device/network/vpn/{{vpn.name | safe}}/start' id="start_connection">Start Connection</a>
        {% endif %}
    </div>
</div>

<script>
    function scrollLogToEnd(){
        var objDiv = document.getElementById("logview");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    $(function(){
        scrollLogToEnd();
    });
</script>

<script>
    $(document).ready(function(){
        jQuery.validator.addMethod("noSpace",function(value,element){
            return value.indexOf(" ")<0&&value!="";
        },"Space are not allowed");

        $("#form").validate({
            wrapper:"li",
            submitHandler:function(){
                form.submit();
            },
            rules:{
                clientname:{required:true,noSpace:true},
            },

            messages:{
                clientname:"Client name cannot include spaces",
            }
        });

        $("#form1").validate({
            wrapper:"li",
            submitHandler:function(){
                form1.submit();
            },
            rules:{
                remoteserverip:{required:true},
                remoteport:{required:true,number:true},
                serverip:{required:true,ipv4:true},
                servermask:{required:true,ipv4:true},
                sserverip:{required:true,ipv4:true},
                clientip:{required:true,ipv4:true},
            },

            messages:{
                remoteserverip:"Remote server ip is required, this is the device to bind to",
                remoteport:"Port number must be numberic",
                serverip:"Must be a valid ipaddress",
                servermask:"Must be a valid ip mask",
                sserverip:"Must be a valid ipaddress",
                sservermask:"Must be a valid ip mask",
            }
        });
    });
</script>

<div id="openvpn">
    <div id="settings">
        <div class="aheading">
            <span>General Server Options</span>
        </div>

        <div class="abody">
            <form id=form1 method="POST">
                <div class="aformgroup">
                    <span class="aformlabel">Type:</span>

                    <div class="aformcontent">
                        <select disabled>
                            <option>Openvpn Server - With Static Keys</option>
                        </select>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">Listen on:</span>

                    <div class="aformcontent">
                        <input class="validate" placeholder="Hostname or Ip" name="remoteserverip"
                               value="{{vpn.remoteserverip | safe}}" title="Remote server hostname or ip address to use in client configuration. If your external hostname was vpn.awesome.com you would set this here.">
                        :
                        <input class="validate" placeholder="Port" size="5" name="remoteport"
                               value="{{vpn.remoteport | safe}}" title="Vpn listen port. Clients will connect to this port.">
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">LZO Compression:</span>

                    <div class="aformcontent">
                        <input type='checkbox' name='compression' {% if vpn.compression %} CHECKED {%endif%}>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel">Custom Options:</span>

                    <div class="aformcontent">
                        <textarea title="Specify custom openvpn server options separated by line. See the openvpn docs for available options." class="textarea" name="customopts"
                                  style="width:500px;height:100px">{{vpn.customopts | safe}}
                        </textarea>
                    </div>
                </div>

                <div id="staticProperties">
                    <div class="aformgroup">
                        <span class="aformlabel">Server IP:</span>

                        <div class="aformcontent">
                            <input title="Server ip address, this address will be used as the server side endpoint. You must pick an unused address." placeholder="Ip Address" class="validate" name="serverip"
                                   value="{{vpn.serverip | safe}}">
                        </div>
                    </div>

                    <div class="aformgroup">
                        <span class="aformlabel">Client IP:</span>

                        <div class="aformcontent">
                            <input title="Client ip address, this address will be used as the client side endpoint. You must pick an unused address." placeholder="Ip Address" class="validate" name="clientip"
                                   value="{{vpn.clientip | safe}}">
                        </div>
                    </div>
                </div>

                <div class="aformgroup">
                    <span class="aformlabel"></span>

                    <div class="aformcontent">
                        <input type="submit" value="Save Configuration"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="clients">
        <div class="aheading">
            <span>Client configuration files</span>
        </div>
        <div class="abody">
            Download client configuration file <a href="/device/network/vpn/{{ vpn.name }}/client">here</a>
        </div>
        <br>
    </div>


    <div id="log">
        <div class="aheading">
            <span>Logfile</span>
        </div>
        <div id="logview" class="abody" style="overflow-y: scroll; max-height:300px;">
            <p>
                {{log| safe}}
            </p>
        </div>
    </div>


</div>

{% endblock %}