<html>
<head>
    {% include "inclusions.html" %}
</head>
<body>
<br><br>
<div style="width:500px; margin-right:auto;margin-left: auto;" class="hero-unit">
    <h1>Oops!!</h1>
    An error occurred, we are sorry. <a href="/">Click here to continue</a>

    {{error}}
</div>
</body>
</html>