<html>
<html>
<head>
    <title>Sphirewall WMI</title>

    {% include "inclusions.html" %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<div id="header">
    <a href="/"><img style="max-width: 40px;" src="{{ url_for('static', filename='images/logo.png') }}"/>
    <span class="header-branding">
        sphirewall wmi
    </span></a>
</div>
<div style="padding-left: 10px;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <hr>
    <span style="color:#cdcdcd;">Sphirewall is an opensource project licensed under the GPLv3 and GPLv2. For more information visit <a href="http://sphirewall.net">http://sphirewall.net</a></span>
</div>
</body>
</html>
