<html>
<html>
<head>
    <title>Sphirewall WMI</title>

    {% include "inclusions.html" %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>

{{ g.preheader | safe }}

<div id="header">
    <a id="applications-menu-link"><img style="max-width: 40px;max-width: 40px;
padding-top: 5px;
padding-left: 5px;" src="/static/images/logo.png"/>
    <span class="header-branding">
        sphirewall wmi
    </span></a>
    <span class="header-links">
    </span>
    <span class="logout">
        <a class="btn btn-small" id="logout_button" href="/logout"><i class="icon-share-alt icon-black"></i><span style="padding-left:5px;">Logout</span></a>
    </span>
</div>
{% block body %}
{% endblock %}
</body>
</html>
