{% extends "external_layout.html" %}
{% block body %}
    <h2>Please Login</h2>
    {% if error %}
        <div class="alert" style="color:red">{{ error }}</div>
    {% endif %}
    <hr>
    <form action="/login" method="POST">
        <div class="abody">
            <div class="aformgroup">
                <span class="aformlabel">Username:</span>

                <div class="aformcontent">
                    <input style="min-width: 200px;" name="email" type="text" size="20" value="{{ username }}">
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Password:</span>

                <div class="aformcontent">
                    <input style="min-width: 200px;" name="password" type="password" size="20" value="{{ password }}">
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel">Host:</span>

                <div class="aformcontent">
                    <input style="min-width: 200px;" name="hostname" type="text" size="20" value="localhost">
                    <input name="port" type="text" size="5" value="8001">
                </div>
            </div>
            <div class="aformgroup">
                <span class="aformlabel"></span>

                <div class="aformcontent">
                    <input type="submit" value="Signin" name="login">
                </div>
            </div>
        </div>
    </form>
{% endblock %}